{
  "openapi": "3.1.0",
  "info": {
    "title": "TripFit API",
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "https://api.tripfit.online",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "Trip",
      "description": "여행방 생성·목록·상세·참여·일정 확인·Pin"
    },
    {
      "name": "Notification",
      "description": "알림센터 — 알림 이력 조회·읽음 처리"
    },
    {
      "name": "Notification Device Token",
      "description": "FCM 디바이스 토큰 등록·해제"
    },
    {
      "name": "User Schedule",
      "description": "본인 정기·개별 일정과 정기+개별을 합친 달력"
    },
    {
      "name": "Recommendation",
      "description": "추천 4모드·확정·확정취소. 후보·근거·피드백은 방장 전용, 확정 결과는 방장·참여자 공통(GET /trips/{tripId})"
    },
    {
      "name": "User",
      "description": "온보딩 이름 등록·마이페이지 프로필 수정·탈퇴"
    },
    {
      "name": "Auth",
      "description": "소셜 로그인·토큰·현재 사용자"
    },
    {
      "name": "Google Calendar",
      "description": "Google Calendar OAuth 연동·해제"
    },
    {
      "name": "Trip Members",
      "description": "여행방 참여자 목록·그룹 달력·내보내기"
    }
  ],
  "paths": {
    "/api/v1/users/schedule/regular": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 목록",
        "description": "본인 정기 일정 목록을 생성 시각 오름차순으로 조회한다. 오전·오후·저녁 슬롯은 start/end로 계산된 값이다.",
        "operationId": "listRegular",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleListResponse"
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "title": "출근",
                        "daysOfWeek": "MON,TUE,WED,THU,FRI",
                        "startTime": "09:00:00",
                        "endTime": "18:00:00",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "IMPOSSIBLE",
                        "eveningStatus": "POSSIBLE"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 생성",
        "description": "매주 반복되는 정기 일정을 추가한다. daysOfWeek는 Weekday(MON~SUN) 콤마 CSV이고, 슬롯은 start/end로 계산된다.",
        "operationId": "createRegular",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "출근",
                    "daysOfWeek": "MON,TUE,WED,THU,FRI",
                    "startTime": "09:00:00",
                    "endTime": "18:00:00",
                    "morningStatus": "IMPOSSIBLE",
                    "afternoonStatus": "IMPOSSIBLE",
                    "eveningStatus": "POSSIBLE"
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "daysOfWeek",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 전체 삭제",
        "description": "본인 정기 일정을 전부 삭제한다. 사전 일정 입력 플로우에서 \"정기 일정이 있나요? → 없어요\"를 고른 순간 호출한다. 남아 있던 정기 일정이 추천 계산에 계속 반영되는\n 것을 막기 위한 경로이며, 개별 일정과 연차·휴일 정보는 지우지 않는다. 삭제할 정기 일정이 없어도 204다.",
        "operationId": "deleteAllRegular",
        "responses": {
          "204": {
            "description": "삭제 성공(No Content). 0건이어도 동일"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/google-calendar": {
      "post": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동",
        "description": "Google OAuth authorization code로 Calendar 읽기 권한을 연동한다. 앱·웹이 Google OAuth 동의 후 받은 authorization\n code를 전달하며, 브라우저 리다이렉트 방식이면 redirectUri도 함께 보내야 한다. 연동 직후 freeBusy를 1회 동기화한다.",
        "operationId": "connect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectGoogleCalendarRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "연동 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": true,
                    "hasCompletedPreSchedule": false,
                    "notificationEnabled": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "authorizationCode",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "502": {
            "description": "GOOGLE_CALENDAR_CONNECT_FAILED — authorization code 교환·Google API 호출 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "GOOGLE_CALENDAR_CONNECT_FAILED",
                  "message": "Google Calendar 연동에 실패했습니다."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동 해제",
        "description": "Google Calendar 연동을 의도적으로 해제한다. revoke(best-effort) 후 credential·busy_day를 삭제하지만, 정기·개별 일정은 그대로\n 유지된다.",
        "operationId": "disconnect",
        "responses": {
          "200": {
            "description": "연동 해제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasCompletedPreSchedule": false,
                    "notificationEnabled": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "409": {
            "description": "GOOGLE_CALENDAR_NOT_CONNECTED — 미연동 상태에서 해제 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "GOOGLE_CALENDAR_NOT_CONNECTED",
                  "message": "Google Calendar가 연동되어 있지 않습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "내 여행방 목록",
        "description": "내가 속한 여행방 카드 목록을 조회한다. scope=ongoing은 endRange≥오늘 기준 Pin 정렬, scope=all은 Pin 없이 최근 활동순이다.\n SCHEDULE_PENDING(방장·참여자 모두 activate 전) 카드가 섞여 나올 수 있는데, 이 카드는 탭했을 때 상세가 아니라 일정 activate 플로우로\n 라우팅해야 한다. 목록 카드에는 inviteCode가 없다(공유는 입장 후 상세에서).",
        "operationId": "listTrips",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "목록 뷰. ongoing=진행 중 캐러셀, all=전체",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "example": "all"
          },
          {
            "name": "status",
            "in": "query",
            "description": "여행방 상태 필터. ONGOING|CONFIRMED|ALL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL"
            },
            "example": "ALL"
          },
          {
            "name": "ownerOnly",
            "in": "query",
            "description": "true면 본인이 방장인 방만",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripListResponse"
                },
                "example": {
                  "data": {
                    "trips": [
                      {
                        "tripId": "550e8400-e29b-41d4-a716-446655440000",
                        "name": "제주도 여행",
                        "destination": "제주도",
                        "startRange": "2026-08-01",
                        "endRange": "2026-08-31",
                        "durationDays": 4,
                        "durationNights": 3,
                        "memberCount": 6,
                        "status": "ONGOING",
                        "lastActivityAt": "2026-07-20T10:00:00",
                        "pinned": true,
                        "myRole": "OWNER",
                        "myMemberStatus": "ACTIVE",
                        "activeMemberCount": 3,
                        "memberFillRate": 0.5,
                        "membersPreview": [
                          {
                            "userId": "550e8400-e29b-41d4-a716-446655440000",
                            "displayName": "길동",
                            "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                            "role": "OWNER"
                          }
                        ],
                        "membersPreviewOverflow": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 생성",
        "description": "새 여행방을 만들고 방장으로 등록한다. 방장 멤버 상태는 SCHEDULE_PENDING(방장 전용·activate 전)이 되고, 응답에는 inviteCode가 없다 —\n 생성만으로는 방 입장·초대 공유가 안 되고, 일정 플로우 후 activate로 ACTIVE가 된 뒤 상세 조회에서 inviteCode를 얻는다.",
        "operationId": "createTrip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripEntryResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "status": "ONGOING",
                    "myMemberStatus": "SCHEDULE_PENDING"
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 최대 15자입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "PROFILE_NAME_REQUIRED — 성·이름 미입력",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "PROFILE_NAME_REQUIRED",
                  "message": "성·이름 입력이 필요합니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/unconfirm": {
      "post": {
        "tags": [
          "Recommendation"
        ],
        "summary": "확정 취소",
        "description": "확정된 일정을 취소하고 다시 조율 중(ONGOING) 상태로 되돌린다(새 TripStatus 값을 쓰지 않고 기존 ONGOING으로 단순 복귀). reason이 필수이고,\n reason=OTHER면 reasonDetail도 필수다. status가 CONFIRMED→ONGOING으로 바뀌며 확정 관련 필드가 전부 초기화되고, 기존 추천\n TOP3는 hard DELETE되어 재추천이 필요해지며, 멤버 일정 스냅샷도 폐기돼 이후 조회는 다시 라이브 데이터를 쓴다.",
        "operationId": "unconfirm",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnconfirmTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "취소 성공(No Content)"
          },
          "400": {
            "description": "INVALID_UNCONFIRM_REASON",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_UNCONFIRM_REASON",
                  "message": "확정 취소 사유를 올바르게 입력해주세요."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_CONFIRMED — 확정된 방이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_CONFIRMED",
                  "message": "확정된 여행방만 확정을 취소할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/recommendations": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "추천 TOP3 카드 목록",
        "description": "현재 저장된 추천 후보 TOP3 카드를 조회한다(방장 전용, 참여자가 호출하면 403). mode는 아직 추천 전이면 null이고, 카드에는\n 참석률·부분참여·불확실·연차일수 통계만 있다 — 참여자별 상세는 후보 1건 조회 API에서 확인한다.",
        "operationId": "listRecommendations",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationListResponse"
                },
                "example": {
                  "data": {
                    "mode": "BASIC",
                    "items": [
                      {
                        "rank": 1,
                        "startDate": "2026-08-03",
                        "endDate": "2026-08-06",
                        "attendRate": 80,
                        "partialAttendCount": 1,
                        "uncertainCount": 1,
                        "totalVacationDays": 2.0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "Recommendation"
        ],
        "summary": "추천 TOP3 재계산",
        "description": "선택한 모드로 추천 후보 TOP3를 계산·저장한다(\"다시 추천받기\"로 같은/다른 모드 재호출 가능). 기존 추천 후보는 hard DELETE되고 새 TOP3로 교체되며,\n 여행방의 마지막 추천 모드가 갱신된다. 이 API를 포함해 후보 조회·근거·피드백은 전부 방장만 접근 가능하다 — 참여자는 확정 전까지 아무것도 볼 수 없다.",
        "operationId": "generateRecommendations",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRecommendationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "계산 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationListResponse"
                },
                "example": {
                  "data": {
                    "mode": "BASIC",
                    "items": [
                      {
                        "rank": 1,
                        "startDate": "2026-08-03",
                        "endDate": "2026-08-06",
                        "attendRate": 80,
                        "partialAttendCount": 1,
                        "uncertainCount": 1,
                        "totalVacationDays": 2.0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패(INVALID_INPUT) — mode가 enum 밖이거나 여행 일수 미정",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/confirm": {
      "post": {
        "tags": [
          "Recommendation"
        ],
        "summary": "일정 확정",
        "description": "추천 후보 선택 또는 직접 입력한 날짜로 여행 일정을 확정한다. recommendationRank 또는 (startDate+endDate) 중 정확히 하나만 입력해야\n 하고, 직접 입력이면 일수가 여행 희망 일수(durationDays)와 같아야 한다. status가 ONGOING→CONFIRMED로 바뀌면서 확정 시점\n 통계(confirmedAttendCount 등)가 저장되고, 멤버 일정도 같은 트랜잭션에서 스냅샷으로 고정된다. 확정 이후에는 방장·참여자 모두 GET\n /trips/{tripId}에서 같은 확정 정보를 볼 수 있다.",
        "operationId": "confirmSchedule",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "확정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "CONFIRMED",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": "2026-08-03",
                    "confirmedEndDate": "2026-08-06",
                    "confirmedAttendCount": 5,
                    "confirmedVacationMemberCount": 1,
                    "confirmedUncertainCount": 0,
                    "lastRecommendationMode": "BASIC",
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 6,
                    "memberFillRate": 1.0,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_CONFIRM_REQUEST · CONFIRM_DURATION_MISMATCH · INVALID_INPUT",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_CONFIRM_REQUEST",
                  "message": "추천 순위 또는 시작·종료일 중 하나만 입력해주세요."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음 · RECOMMENDATION_NOT_FOUND — 존재하지 않는 rank",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방(이미 CONFIRMED면 확정 취소 후 재시도)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/activate": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 멤버십 활성화",
        "description": "일정 확인을 끝내 여행방 입장을 완료한다. 방장(create 직후)과 참여자(join 직후)가 모두 이 API를 호출하며, myMemberStatus가\n SCHEDULE_PENDING → ACTIVE로 바뀐다. 방 안 API와 방장의 초대 공유는 이 호출 이후에만 쓸 수 있다.\n\n 이미 ACTIVE면 상태 변경 없이 동일 응답이고 알림도 다시 가지 않는다(idempotent).\n\n 사전 일정 입력(연차·휴일 정보의 사전 신청일)을 한 번도 완료하지 않았다면 403 PRE_SCHEDULE_REQUIRED로 거부된다. 정기·개별 일정이 0건인 것은 거부\n 사유가 아니다 — 입력을 끝냈지만 막힌 일정이 없는 사용자는 그대로 통과한다.",
        "operationId": "activateMembership",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "활성화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 1,
                    "memberFillRate": 0.16666666666666666,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 · PRE_SCHEDULE_REQUIRED — 사전 일정 입력 미완료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "PRE_SCHEDULE_REQUIRED",
                  "message": "사전 일정 입력을 완료해야 여행방에 입장할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/join": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "초대 링크로 참여",
        "description": "초대 코드로 여행방에 참여한다. 초대 링크를 연 직후, 일정 확인 화면에 들어가기 전에 호출한다 — 멤버는 SCHEDULE_PENDING으로 생성되고 일정 확인을 마친 뒤\n activate로 ACTIVE가 된다. 이 응답만으로는 아직 방 안 API를 쓸 수 없다.\n\n 이미 멤버인 사용자가 다시 호출하면 새 자리를 소비하지 않고 그 시점의 myMemberStatus를 그대로 반환한다(idempotent) — 링크를 다시 열었을 때도 같은\n 응답이므로 클라이언트는 myMemberStatus만 보고 일정 플로우·방 안 중 어디로 보낼지 정하면 된다.\n\n 정원은 SCHEDULE_PENDING 멤버까지 포함해 세며, 가득 찼으면 TRIP_MEMBER_FULL로 거부된다.",
        "operationId": "joinTrip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참여 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripEntryResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "status": "ONGOING",
                    "myMemberStatus": "SCHEDULE_PENDING"
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "inviteCode",
                      "message": "초대 코드는 필수입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "PROFILE_NAME_REQUIRED — 성·이름 미입력",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "PROFILE_NAME_REQUIRED",
                  "message": "성·이름 입력이 필요합니다."
                }
              }
            }
          },
          "404": {
            "description": "INVITE_CODE_NOT_FOUND — 초대 코드 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVITE_CODE_NOT_FOUND",
                  "message": "초대 코드를 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_MEMBER_FULL — 정원 초과 · TRIP_ALREADY_CONFIRMED — 확정된 방 · TRIP_EXPIRED — 종료된 방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_MEMBER_FULL",
                  "message": "참여 인원이 가득 찼습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/notifications/device-tokens": {
      "post": {
        "tags": [
          "Notification Device Token"
        ],
        "summary": "디바이스 토큰 등록·갱신",
        "description": "본인 기기의 FCM 등록 토큰을 저장해 푸시 알림을 받을 수 있게 한다. 이미 등록된 토큰이면 소유자·기기 플랫폼을 갱신하고, 동일 토큰이 다른 유저 소유였다면 본인\n 소유로 재할당한다.",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "등록·갱신 성공(No Content)"
          },
          "400": {
            "description": "INVALID_INPUT — deviceType 누락(필수)·정의되지 않은 값",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "deviceType",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notification Device Token"
        ],
        "summary": "디바이스 토큰 해제",
        "description": "로그아웃 직전 본인 기기의 FCM 토큰을 해제해 더 이상 알림이 발송되지 않게 한다.",
        "operationId": "unregister",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "해제할 FCM 등록 토큰 값",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "해제 성공(No Content)"
          },
          "404": {
            "description": "NOTIFICATION_TOKEN_NOT_FOUND — 토큰이 없거나 본인 것이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "NOTIFICATION_TOKEN_NOT_FOUND",
                  "message": "디바이스 토큰을 찾을 수 없습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "액세스·리프레시 토큰 재발급 (RTR)",
        "description": "refresh token 쿠키로 access·refresh를 함께 재발급한다(RTR) — 기존 refresh는 이 호출과 동시에 폐기되고 응답이 Set-Cookie로\n 내려주는 새 값으로 브라우저가 자동 교체한다. 이미 폐기된(rotate로 소비된) refresh token이 재제출되면 탈취 재사용으로 간주해 같은 로그인 체인 전체를\n 폐기한다(401 AUTH_REFRESH_REUSE).",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "description": "login 또는 이전 refresh 응답이 내려준 refresh token 쿠키",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "재발급 성공 — Set-Cookie로 새 refreshToken 전달(HttpOnly)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRefreshResponse"
                },
                "example": {
                  "data": {
                    "accessToken": "eyJhbG...",
                    "expiresIn": 900
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_INVALID_REFRESH — refresh 쿠키 없음·만료 · AUTH_REFRESH_REUSE — 이미 폐기된 refresh 재사용(탈취 의심, 재로그인 필요)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_INVALID_REFRESH",
                  "message": "유효하지 않은 리프레시 토큰입니다."
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "로그아웃",
        "description": "refresh token 쿠키를 폐기해 재발급을 막고 브라우저에서도 쿠키를 지운다. 쿠키가 이미 없거나 만료됐어도 조용히 넘어가고 로그아웃 자체는 계속 성공한다. 액세스\n 토큰은 블랙리스트 없이 자체 만료(TTL)로만 무효화되므로, 로그아웃 후에도 이미 발급된 액세스 토큰은 남은 수명 동안 유효할 수 있다.",
        "operationId": "logout",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "description": "폐기할 refresh token 쿠키. 없어도 로그아웃은 성공한다",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "로그아웃 성공(No Content) — Set-Cookie로 refreshToken 쿠키 삭제"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "소셜 로그인",
        "description": "소셜 토큰으로 로그인하고 access·refresh를 발급한다. provider가 APPLE 또는 GOOGLE이면 각 OAuth 플로우에서 받은\n authorizationCode도 함께 보내야 한다(<code>LoginRequest.authorizationCode</code> 필드 설명 참고 — GOOGLE은 네이티브 앱이냐\n 브라우저 리다이렉트냐에 따라 값을 받는 방법이 다름). GOOGLE 브라우저 리다이렉트 로그인이면 <code>redirectUri</code>도 실제 리다이렉트에 쓴 값과 정확히\n 일치하게 보내야 한다.\n\n <p>\n APPLE·GOOGLE은 매번(최초·재로그인 모두) authorizationCode를 새로 발급받아 보내야 한다 — 탈퇴 시 provider revoke에 쓸\n refresh token을 확보하기 위함. GOOGLE은 재로그인 시 credential이 갱신되지 않을 수 있고(정상 동작), redirectUri가 실제 값과 다르면\n 토큰 교환이 조용히 스킵된다(로그인 자체는 계속 성공, best-effort).\n\n <p>\n refresh token은 응답 바디가 아니라 HttpOnly 쿠키(<code>Set-Cookie: refreshToken=...</code>)로 내려간다 — 클라이언트\n JavaScript가 값을 직접 다루지 않아도 되고(탈취 표면 축소), 이후 refresh·logout 요청 시 브라우저가 자동으로 실어 보낸다.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인 성공 — Set-Cookie로 refreshToken 전달(HttpOnly)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseLoginResponse"
                },
                "example": {
                  "data": {
                    "accessToken": "eyJhbG...",
                    "expiresIn": 900,
                    "user": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "email": "user@example.com",
                      "firstName": "길동",
                      "lastName": "홍",
                      "nickname": "홍길동",
                      "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                      "provider": "GOOGLE",
                      "isGoogleCalendarConnected": false,
                      "hasCompletedPreSchedule": false,
                      "notificationEnabled": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED — provider가 GOOGLE인데 authorizationCode 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED",
                  "message": "Google 로그인에는 authorizationCode가 필요합니다."
                }
              }
            }
          },
          "401": {
            "description": "AUTH_SOCIAL_TOKEN_EXPIRED — 소셜 토큰 만료 · AUTH_SOCIAL_TOKEN_INVALID — 그 외 소셜 토큰 무효",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_SOCIAL_TOKEN_EXPIRED",
                  "message": "소셜 로그인 토큰이 만료되었습니다. 다시 로그인해 주세요."
                }
              }
            }
          },
          "503": {
            "description": "AUTH_SOCIAL_PROVIDER_UNAVAILABLE — 소셜 provider API 접근 실패(네트워크·타임아웃)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_SOCIAL_PROVIDER_UNAVAILABLE",
                  "message": "소셜 로그인 서버에 일시적으로 연결할 수 없습니다. 잠시 후 다시 시도해 주세요."
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/apple/notifications": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Apple 계정 변경 알림 수신",
        "description": "Apple이 push하는 계정 변경 이벤트(연동 해제·계정 삭제 등)를 수신해 user·refresh_token을 동기화한다. TripFit 클라이언트·로그인 흐름과\n 무관하게 Apple 서버가 직접 호출한다(Apple Developer Console에 Server-to-Server Notification Endpoint로 등록됨).\n\n <p>\n consent-revoked는 refresh_token만 폐기(계정 유지), account-delete는 user soft delete + refresh_token 폐기,\n email-enabled/disabled는 로그만 남긴다(user.email 미보유). 존재하지 않는 sub·미인식 type도 200(no-op)이다.",
        "operationId": "appleNotifications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppleNotificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수신·처리 완료 — no-op(존재하지 않는 sub·미인식 type)도 포함"
          },
          "400": {
            "description": "AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD — payload·events JSON 형식 오류·필수 필드 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD",
                  "message": "Apple 알림 payload 형식이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "AUTH_APPLE_NOTIFICATION_ISSUER_INVALID — iss 불일치 · AUTH_APPLE_NOTIFICATION_AUDIENCE_INVALID — aud 불일치 · AUTH_APPLE_NOTIFICATION_SIGNATURE_INVALID — 서명 불일치·만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_APPLE_NOTIFICATION_SIGNATURE_INVALID",
                  "message": "Apple 알림 서명 검증에 실패했습니다."
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/users/schedule/vacation-policy": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "연차·휴일 정보 조회",
        "description": "본인 연차·휴일 정보를 조회한다. 정기 일정과 별개로 사람 1명에게 하나만 존재한다. 사전 신청일이 null이면 아직 사전 일정 입력을 완료하지 않은 사용자다(최초\n 입력).",
        "operationId": "getVacationPolicy",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseVacationPolicyResponse"
                },
                "example": {
                  "data": {
                    "maxVacationDays": 2,
                    "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                    "halfVacationAvailable": false,
                    "holidayRest": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "연차·휴일 정보 전체 교체",
        "description": "본인 연차·휴일 정보를 전체 교체한다. 부분 수정이 아니라 4개 필드를 매번 전부 보내야 하고, 하나라도 빠지면 400이다. 정기 일정 행이 하나도 없어도 저장할 수\n 있다. 저장에 성공하면 사전 신청일이 채워져 사용자가 \"갱신 입력\" 상태가 되고, 이후 여행방 입장 시 다시 최초 입력 플로우를 타지 않는다.",
        "operationId": "updateVacationPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVacationPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseVacationPolicyResponse"
                },
                "example": {
                  "data": {
                    "maxVacationDays": 2,
                    "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                    "halfVacationAvailable": false,
                    "holidayRest": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "필수 필드 누락 또는 값 검증 실패 (INVALID_INPUT) — 4개 필드 중 하나라도 빠지면 여기에 해당",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/regular/{id}": {
      "delete": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 삭제",
        "description": "본인 정기 일정을 한 건 삭제한다.",
        "operationId": "deleteRegular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공(No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "404": {
            "description": "REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "REGULAR_SCHEDULE_NOT_FOUND",
                  "message": "정기 일정을 찾을 수 없습니다."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 전체 수정",
        "description": "기존 정기 일정의 제목·요일·시각·연차 설정을 통째로 갱신한다. start/end가 바뀌면 슬롯을 다시 계산한다.",
        "operationId": "updateRegular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "출근",
                    "daysOfWeek": "MON,TUE,WED,THU,FRI",
                    "startTime": "09:00:00",
                    "endTime": "18:00:00",
                    "morningStatus": "IMPOSSIBLE",
                    "afternoonStatus": "IMPOSSIBLE",
                    "eveningStatus": "POSSIBLE"
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "daysOfWeek",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "404": {
            "description": "REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "REGULAR_SCHEDULE_NOT_FOUND",
                  "message": "정기 일정을 찾을 수 없습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/personal": {
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "개별 일정 슬롯 단위 오버라이드 upsert",
        "description": "여러 날짜에 슬롯(오전/오후/저녁) 오버라이드·불확실 여부를 등록·수정한다. items는 최소 1개, 같은 scheduleDate 중복은 불가하다. 각 항목은\n slots·uncertain을 독립적으로 선택한다 — 슬롯을 안 건드리려면 slots 필드 자체를 생략(정기+구글 계산값을 그대로 따름), 건드리려면 3개 전부 명시해야\n 한다. 이 API로는 오버라이드가 삭제되지 않는다 — 한 번 반영된 날짜는 계속 유지된다.\n\n 저장 가능한 날짜는 달력 조회와 같은 구간(오늘 ~ 오늘+2년−1, 참여 중인 ONGOING 여행 희망 기간 종료일이 더 뒤면 그 날짜까지)으로 제한된다 — 구간 밖\n 날짜가 하나라도 있으면 저장 전체가 400이다.",
        "operationId": "upsertPersonal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonalScheduleRequest"
              },
              "examples": {
                "슬롯만 변경": {
                  "summary": "slots 3개를 명시. uncertain 필드는 생략 → 기존 값 유지(신규 날짜면 false)",
                  "description": "슬롯만 변경",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "IMPOSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "하루 종일 불가능으로 전체 오버라이드": {
                  "summary": "3슬롯 모두 IMPOSSIBLE. 정기 일정이 해당 슬롯을 가능으로 계산해도 개별 오버라이드가 항상 이김",
                  "description": "하루 종일 불가능으로 전체 오버라이드",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-06",
                        "slots": {
                          "morningStatus": "IMPOSSIBLE",
                          "afternoonStatus": "IMPOSSIBLE",
                          "eveningStatus": "IMPOSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "불확실 여부만 변경(ON)": {
                  "summary": "slots 필드 자체를 생략 → 슬롯 오버라이드는 그대로 두고 uncertain만 갱신",
                  "description": "불확실 여부만 변경(ON)",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "uncertain": true
                      }
                    ]
                  }
                },
                "불확실 여부 해제(OFF)": {
                  "summary": "slots 생략, uncertain만 false로 되돌림 → 켜져 있던 동안 저장해둔 슬롯 오버라이드가 그대로 복귀",
                  "description": "불확실 여부 해제(OFF)",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-06",
                        "uncertain": false
                      }
                    ]
                  }
                },
                "슬롯·불확실 동시 변경": {
                  "summary": "한 항목에 slots와 uncertain을 같이 담아 한 번에 반영",
                  "description": "슬롯·불확실 동시 변경",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "IMPOSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        },
                        "uncertain": false
                      }
                    ]
                  }
                },
                "구글 캘린더 신호를 덮어쓰는 개별 오버라이드": {
                  "summary": "정기 일정 없는 날짜라 구글 연동 신호로 오후만 불가능하게 계산됐지만, 개별 오버라이드로 하루 종일 가능 선언 — 구글보다 개별이 항상 우선",
                  "description": "구글 캘린더 신호를 덮어쓰는 개별 오버라이드",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-08",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "하루 종일 가능 재선언": {
                  "summary": "이미 오버라이드된 날짜에 3슬롯 모두 POSSIBLE + uncertain false로 다시 저장 — 이 값 조합이어도 오버라이드가 삭제되는 경로는 없음, 그대로 새 값으로 저장됨",
                  "description": "하루 종일 가능 재선언",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        },
                        "uncertain": false
                      }
                    ]
                  }
                },
                "정기·구글 신호 없는 날짜에 개별 일정 단독 등록": {
                  "summary": "정기 일정이 하나도 없는 날짜(예: 주말)에도 개별 오버라이드만 단독으로 등록 가능 — 등록 즉시 캘린더 조회에 나타나고 더 이상 생략되지 않음",
                  "description": "정기·구글 신호 없는 날짜에 개별 일정 단독 등록",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-01",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "IMPOSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "❌ 같은 날짜를 아이템 두 개로 분리 → 400": {
                  "summary": "같은 scheduleDate가 배열에 두 번 오면 400(INVALID_INPUT) — slots·uncertain은 한 아이템에 같이 담을 수 있으므로 나눠 보낼 필요가 없음",
                  "description": "❌ 같은 날짜를 아이템 두 개로 분리 → 400",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "uncertain": true
                      },
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "❌ slots·uncertain 둘 다 없음 → 400": {
                  "summary": "무엇을 바꾸라는 요청인지 알 수 없어 400(INVALID_INPUT)",
                  "description": "❌ slots·uncertain 둘 다 없음 → 400",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03"
                      }
                    ]
                  }
                },
                "❌ slots 슬롯 일부 누락 → 400": {
                  "summary": "slots 필드를 보내는 순간 아침·오후·저녁 3개 전부 필수 — 일부만 보내면 400(INVALID_INPUT)",
                  "description": "❌ slots 슬롯 일부 누락 → 400",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "❌ items 빈 배열 → 400": {
                  "summary": "items가 비어 있으면 400(INVALID_INPUT)",
                  "description": "❌ items 빈 배열 → 400",
                  "value": {
                    "items": []
                  }
                },
                "❌ 허용 윈도우 밖 날짜 → 400": {
                  "summary": "지난 날짜이거나 오늘+2년−1(참여 중 ONGOING 여행 종료일이 더 뒤면 그 날짜)을 넘는 날짜는 저장할 수 없음 — 저장해도 GET /calendar로 다시 조회할 수 없는 구간이기 때문",
                  "description": "❌ 허용 윈도우 밖 날짜 → 400",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2099-01-01",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponsePersonalScheduleResponse"
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "scheduleDate": "2026-08-03",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "POSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "uncertain": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT — items 비어 있음·scheduleDate 중복·한 항목에 slots·uncertain 둘 다 없음·slots 필드 일부 누락·scheduleDate가 허용 윈도우(오늘~오늘+2년−1, 단 ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지) 밖",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/profile": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "마이페이지 프로필(성·이름·알림 설정) 부분 수정",
        "description": "온보딩에서 이미 등록된 성·이름을 다시 수정하거나 알림 수신 여부를 변경한다. 최초 이름 등록은 이 API가 아니라 온보딩 성·이름\n 등록(<code>PATCH /users/onboarding/name</code>)을 사용한다. firstName·lastName· notificationEnabled 중 최소 1개\n 필드를 포함해야 하며, 생략된 필드는 미변경으로 처리되고 요청에 포함된 필드만 응답에 반영된다.",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasCompletedPreSchedule": false,
                    "notificationEnabled": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "최소 1개 필드가 필요합니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/onboarding/name": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "온보딩 성·이름 최초 등록",
        "description": "온보딩에서 성·이름을 최초로 등록한다. 등록 이후 재수정은 이 API가 아니라 마이페이지 프로필 수정 (<code>PATCH /users/profile</code>)을 사용한다.\n 성·이름 미완료면 이후 여행방 생성·참여가 PROFILE_NAME_REQUIRED로 거부된다.",
        "operationId": "registerOnboardingName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasCompletedPreSchedule": false,
                    "notificationEnabled": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 필수입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 상세",
        "description": "여행방 상세 정보를 조회한다. 이 방의 멤버이면서 ACTIVE(일정 activate/join 완료)여야 하며, SCHEDULE_PENDING(방장 activate 전)\n 상태면 SCHEDULE_ACTIVATION_REQUIRED로 거부된다. 응답에는 inviteCode가 포함된다(방장 초대 공유용) — create 응답에는 없던 값이다.",
        "operationId": "getTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 · SCHEDULE_ACTIVATION_REQUIRED — 이 방 일정 확인 미완료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 삭제",
        "description": "여행방을 삭제(soft)한다. 방장이면 SCHEDULE_PENDING(activate 전) 상태에서도 삭제할 수 있다. 멤버 row도 함께 연쇄 soft delete된다.",
        "operationId": "deleteTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공(No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 메타 수정",
        "description": "방 이름·인원·여행지 등 메타를 수정한다. 방장만 가능하고, 여행방이 ONGOING(조율 중)이어야 하며, 희망 기간(startRange~endRange)은 이 API로\n 수정할 수 없다.",
        "operationId": "patchTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 최대 15자입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/recommendations/{rank}/feedback": {
      "patch": {
        "tags": [
          "Recommendation"
        ],
        "summary": "추천 근거 피드백 저장",
        "description": "추천 근거 화면의 \"이 추천이 도움이 되었나요?\" 응답을 저장한다. 같은 후보를 다시 열어 다른 선택을 하면 값을 덮어쓴다(upsert).\n status=NOT_HELPFUL이면 reason이 필수이고, reason=OTHER면 reasonDetail도 필수다. 해당 rank의 recommendation이\n 재추천으로 삭제된 뒤에도 이 피드백 자체는 분석용으로 보존되지만, 다음 조회에는 노출되지 않는다(새 recommendation에 새로 남겨야 함).",
        "operationId": "saveRecommendationFeedback",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "rank",
            "in": "path",
            "description": "추천 순위 (1~3)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveRecommendationFeedbackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "저장 성공(No Content)"
          },
          "400": {
            "description": "INVALID_RECOMMENDATION_FEEDBACK — 사유 누락·불완전",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_RECOMMENDATION_FEEDBACK",
                  "message": "추천 피드백 사유를 올바르게 입력해주세요."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음 · RECOMMENDATION_NOT_FOUND — 해당 rank 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "RECOMMENDATION_NOT_FOUND",
                  "message": "추천 후보를 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/pin": {
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "Pin 토글",
        "description": "홈 목록에서 이 방을 고정(Pin)하거나 해제한다. 멤버면 되고(SCHEDULE_PENDING 방장 포함), 방 입장(ACTIVE)까지는 필요 없다.",
        "operationId": "updatePin",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTripPinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pin 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": true,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/notifications/{id}/read": {
      "patch": {
        "tags": [
          "Notification"
        ],
        "summary": "알림 읽음 처리",
        "description": "알림센터에서 알림을 열람했음을 표시한다. 이미 읽음 상태면 변경 없이 동일하게 처리한다(idempotent).",
        "operationId": "markRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "읽음 처리 성공(No Content)"
          },
          "404": {
            "description": "NOTIFICATION_NOT_FOUND — 존재하지 않거나 본인 것이 아닌 알림",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "NOTIFICATION_NOT_FOUND",
                  "message": "알림을 찾을 수 없습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/calendar": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기+개별 합친 일정 달력 조회",
        "description": "본인 정기 일정과 개별 일정을 합쳐 날짜별 가능/불가능 달력을 조회한다. 요청 구간은 오늘부터 오늘+2년−1일 안이어야 하지만, 참여 중인 조율 중(ONGOING)\n 여행방의 희망 기간 종료일이 그보다 뒤라면 그 날짜까지 상한이 늘어난다. 날짜별 슬롯은 개별 일정이 정기보다 우선하고, 정기가 여럿이면 IMPOSSIBLE이 우선하며, 빈\n 날은 응답에서 생략된다. 마이페이지 여행 칩용 방 목록은 GET /trips?scope=ongoing을 따로 호출해야 한다.",
        "operationId": "getCalendar",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "달력 시작일(포함). 오늘~오늘+2년−1 안",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-22"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "달력 종료일(포함). 오늘~오늘+2년−1 안, ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-31"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseScheduleCalendarResponse"
                },
                "example": {
                  "data": {
                    "startDate": "2026-08-01",
                    "endDate": "2026-08-07",
                    "days": [
                      {
                        "date": "2026-08-03",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "IMPOSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "uncertain": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT — 조회 구간이 허용 윈도우(오늘~오늘+2년−1, 단 ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지) 밖",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/recommendations/{rank}": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "추천 근거 상세",
        "description": "추천 후보 1건의 참여자별 브레이크다운(전체참석/부분참석/불참·불확실 일수·필요 연차일수)과 방장이 남긴 피드백을 조회한다(방장 전용, 참여자가 호출하면 403).\n 브레이크다운은 저장값이 아니라 조회 시점에 다시 계산한 값이고(카드 목록을 무겁게 만들지 않기 위함), feedback은 이전에 남긴 피드백이 없으면 null이다.",
        "operationId": "getRecommendationDetail",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "rank",
            "in": "path",
            "description": "추천 순위 (1~3)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationDetailResponse"
                },
                "example": {
                  "data": {
                    "rank": 1,
                    "mode": "BASIC",
                    "startDate": "2026-06-12",
                    "endDate": "2026-06-15",
                    "attendRate": 92,
[...]
