{
  "openapi": "3.1.0",
  "info": {
    "title": "TripFit API",
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "https://api.tripfit.online",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "Trip",
      "description": "여행방 생성·목록·상세·참여·일정 확인·Pin"
    },
    {
      "name": "Notification",
      "description": "알림센터 — 알림 이력 조회·읽음 처리"
    },
    {
      "name": "Notification Device Token",
      "description": "FCM 디바이스 토큰 등록·해제"
    },
    {
      "name": "Recommendation",
      "description": "추천 4모드·확정·확정취소. 후보·근거·피드백은 방장 전용, 확정 결과는 방장·참여자 공통(GET /trips/{tripId})"
    },
    {
      "name": "User",
      "description": "온보딩 이름 등록·마이페이지 프로필 수정·탈퇴"
    },
    {
      "name": "Auth",
      "description": "소셜 로그인·토큰·현재 사용자"
    },
    {
      "name": "Google Calendar",
      "description": "Google Calendar OAuth 연동·해제"
    },
    {
      "name": "User Schedule",
      "description": "본인 정기·개인 일정과 정기+개별을 합친 달력"
    },
    {
      "name": "Trip Members",
      "description": "여행방 참여자 목록·그룹 달력·내보내기"
    }
  ],
  "paths": {
    "/api/v1/users/schedule/regular": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 목록",
        "description": "목적: 본인 정기 일정 목록을 조회한다.\n\n결과: 생성 시각 오름차순. 오전·오후·저녁 슬롯은 start/end로 계산된 값.\n",
        "operationId": "listRegular",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleListResponse"
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "title": "출근",
                        "daysOfWeek": "MON,TUE,WED,THU,FRI",
                        "startTime": "09:00:00",
                        "endTime": "18:00:00",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "IMPOSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "maxVacationDays": 2,
                        "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                        "halfVacationAvailable": false,
                        "holidayRest": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 생성",
        "description": "목적: 매주 반복되는 정기 일정을 추가한다.\n\n호출 시점: 일정 온보딩·마이페이지에서 정기 일정 추가.\n\n전제: startTime/endTime·요일(daysOfWeek) 필수.\n\n결과: 저장된 정기 일정. 슬롯은 start/end로 계산된다. daysOfWeek는 Weekday(MON~SUN) 콤마 CSV.\n\n주의: 첫 정기 일정 생성 시 hasPreSchedule이 true가 된다(GET /auth/me 등으로 재조회).\n",
        "operationId": "createRegular",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "출근",
                    "daysOfWeek": "MON,TUE,WED,THU,FRI",
                    "startTime": "09:00:00",
                    "endTime": "18:00:00",
                    "morningStatus": "IMPOSSIBLE",
                    "afternoonStatus": "IMPOSSIBLE",
                    "eveningStatus": "POSSIBLE",
                    "maxVacationDays": 2,
                    "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                    "halfVacationAvailable": false,
                    "holidayRest": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "daysOfWeek",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/google-calendar": {
      "post": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동",
        "description": "목적: Google OAuth authorization code로 Calendar 읽기 권한을 연동한다.\n\n호출 시점: 온보딩·설정 화면에서 Google Calendar 연동 버튼 완료 직후.\n\n전제: TripFit 로그인(JWT) 상태. 앱·웹이 Google OAuth 동의 후 authorization code를 전달한다. 브라우저\n리다이렉트 방식이면 redirectUri도 함께 보내야 한다.\n\n결과: isGoogleCalendarConnected=true로 갱신된 UserSummary. 연동 직후 freeBusy 1회 sync.\n\n주요 에러: GOOGLE_CALENDAR_CONNECT_FAILED — code 교환·Google API 실패\n",
        "operationId": "connect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectGoogleCalendarRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "연동 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": true,
                    "hasPreSchedule": false,
                    "isAllFree": false,
                    "notificationEnabled": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "authorizationCode",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "502": {
            "description": "GOOGLE_CALENDAR_CONNECT_FAILED — authorization code 교환·Google API 호출 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "GOOGLE_CALENDAR_CONNECT_FAILED",
                  "message": "Google Calendar 연동에 실패했습니다."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동 해제",
        "description": "목적: Google Calendar 연동을 의도적으로 해제한다.\n\n호출 시점: 설정·온보딩에서 연동 해제 선택 시.\n\n전제: isGoogleCalendarConnected=true.\n\n결과: revoke(best-effort) 후 credential·busy_day 삭제, flag=false UserSummary. 정기·개별 일정은 유지.\n\n주요 에러: GOOGLE_CALENDAR_NOT_CONNECTED — 미연동 상태에서 해제 요청\n",
        "operationId": "disconnect",
        "responses": {
          "200": {
            "description": "연동 해제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasPreSchedule": false,
                    "isAllFree": false,
                    "notificationEnabled": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "409": {
            "description": "GOOGLE_CALENDAR_NOT_CONNECTED — 미연동 상태에서 해제 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "GOOGLE_CALENDAR_NOT_CONNECTED",
                  "message": "Google Calendar가 연동되어 있지 않습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "내 여행방 목록",
        "description": "목적: 내가 속한 여행방 카드 목록을 조회한다.\n\n호출 시점: 홈 캐러셀·전체 여행·마이페이지 여행 칩.\n\n결과: TripHomeCard 목록. scope=ongoing은 endRange≥오늘·Pin 정렬, scope=all은 Pin 없이 최근 활동순.\n\n주의: status는 여행방 상태 필터(ONGOING|CONFIRMED|ALL). ownerOnly=true면 방장인 방만.\n\n홈에 SCHEDULE_PENDING(방장 activate 전) 카드가 보일 수 있다 — 탭 시 상세가 아니라 일정 activate 플로우로 라우팅.\n\n목록 카드에는 inviteCode가 없다(공유는 입장 후 상세).\n",
        "operationId": "listTrips",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "목록 뷰. ongoing=진행 중 캐러셀, all=전체",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "example": "all"
          },
          {
            "name": "status",
            "in": "query",
            "description": "여행방 상태 필터. ONGOING|CONFIRMED|ALL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL"
            },
            "example": "ALL"
          },
          {
            "name": "ownerOnly",
            "in": "query",
            "description": "true면 본인이 방장인 방만",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripListResponse"
                },
                "example": {
                  "data": {
                    "trips": [
                      {
                        "tripId": "550e8400-e29b-41d4-a716-446655440000",
                        "name": "제주도 여행",
                        "destination": "제주도",
                        "startRange": "2026-08-01",
                        "endRange": "2026-08-31",
                        "durationDays": 4,
                        "durationNights": 3,
                        "memberCount": 6,
                        "status": "ONGOING",
                        "lastActivityAt": "2026-07-20T10:00:00",
                        "pinned": true,
                        "myRole": "OWNER",
                        "myMemberStatus": "ACTIVE",
                        "activeMemberCount": 3,
                        "memberFillRate": 0.5,
                        "membersPreview": [
                          {
                            "userId": "550e8400-e29b-41d4-a716-446655440000",
                            "displayName": "길동",
                            "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                            "role": "OWNER"
                          }
                        ],
                        "membersPreviewOverflow": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 생성",
        "description": "목적: 새 여행방을 만들고 방장으로 등록한다.\n\n호출 시점: 여행방 만들기 완료 직후.\n\n전제: 성·이름 프로필 완료. 이름은 필수(최대 15자).\n\n결과: 여행방 ID·상태. 방장 멤버 상태는 SCHEDULE_PENDING(방장 전용·activate 전). inviteCode는 응답에 없음.\n\n주의: 생성만으로는 방 입장·초대 공유가 안 된다. 일정 플로우 후 activate(ACTIVE)·상세에서 inviteCode를 쓴다.\n\n주요 에러: PROFILE_NAME_REQUIRED — 성·이름 미입력\n",
        "operationId": "createTrip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseCreateTripResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "status": "ONGOING",
                    "myMemberStatus": "SCHEDULE_PENDING"
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 최대 15자입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "PROFILE_NAME_REQUIRED — 성·이름 미입력",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "PROFILE_NAME_REQUIRED",
                  "message": "성·이름 입력이 필요합니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/unconfirm": {
      "post": {
        "tags": [
          "Recommendation"
        ],
        "summary": "확정 취소",
        "description": "목적: 확정된 일정을 취소하고 다시 조율 중(ONGOING) 상태로 되돌린다.\n\n호출 시점: 방장이 확정 화면에서 「취소하기」로 사유를 제출할 때.\n\n전제: 방장. 여행방이 CONFIRMED. reason 필수, reason=OTHER면 reasonDetail도 필수.\n\n결과: status가 CONFIRMED→ONGOING으로 바뀌고 확정 관련 필드가 전부 초기화된다. 기존 추천 TOP3는 hard DELETE되고(재추천 필요), 멤버 일정 스냅샷도 폐기되어 이후 조회는 다시 라이브 데이터를 쓴다.\n\n주의: 새 TripStatus 값을 추가하지 않고 기존 ONGOING으로 단순 복귀한다.\n\n주요 에러: INVALID_UNCONFIRM_REASON — reason 누락 또는 OTHER인데 reasonDetail 없음\n",
        "operationId": "unconfirm",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnconfirmTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "취소 성공(No Content)"
          },
          "400": {
            "description": "INVALID_UNCONFIRM_REASON",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_UNCONFIRM_REASON",
                  "message": "확정 취소 사유를 올바르게 입력해주세요."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_CONFIRMED — 확정된 방이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_CONFIRMED",
                  "message": "확정된 여행방만 확정을 취소할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/recommendations": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "추천 TOP3 카드 목록",
        "description": "목적: 현재 저장된 추천 후보 TOP3 카드를 조회한다.\n\n결과: mode(아직 추천 전이면 null) + 카드 목록(최대 3건, rank 오름차순). 카드에는 참석률·부분참여·불확실·연차일수 통계만 있고 참여자별 상세는 없다(상세는 후보 1건 조회 API).\n\n주의: 방장 전용 — 참여자가 호출하면 403.\n",
        "operationId": "listRecommendations",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationListResponse"
                },
                "example": {
                  "data": {
                    "mode": "BASIC",
                    "items": [
                      {
                        "rank": 1,
                        "startDate": "2026-08-03",
                        "endDate": "2026-08-06",
                        "attendRate": 80,
                        "partialAttendCount": 1,
                        "uncertainCount": 1,
                        "totalVacationDays": 2.0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "Recommendation"
        ],
        "summary": "추천 TOP3 재계산",
        "description": "목적: 선택한 모드로 추천 후보 TOP3를 계산·저장한다.\n\n호출 시점: 방장이 모드 4개 중 하나를 골라 「추천 일정 확인하기」를 누를 때. 이후 같은 모드로 다시 부르거나 다른 모드로 재호출해도 된다(\"다시 추천받기\").\n\n전제: 방장. 여행방이 ONGOING. 여행 일수(durationDays)가 정해져 있어야 함.\n\n결과: 기존 추천 후보를 hard DELETE하고 새 TOP3를 저장한다. 여행방의 마지막 추천 모드가 갱신된다.\n\n주의: 이 API·이후 후보 조회·근거·피드백은 전부 방장만 접근 가능하다. 참여자는 확정 전까지 아무것도 볼 수 없다.\n\n주요 에러: TRIP_NOT_ONGOING — ONGOING이 아닌 방\n",
        "operationId": "generateRecommendations",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRecommendationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "계산 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationListResponse"
                },
                "example": {
                  "data": {
                    "mode": "BASIC",
                    "items": [
                      {
                        "rank": 1,
                        "startDate": "2026-08-03",
                        "endDate": "2026-08-06",
                        "attendRate": 80,
                        "partialAttendCount": 1,
                        "uncertainCount": 1,
                        "totalVacationDays": 2.0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패(INVALID_INPUT) — mode가 enum 밖이거나 여행 일수 미정",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/confirm": {
      "post": {
        "tags": [
          "Recommendation"
        ],
        "summary": "일정 확정",
        "description": "목적: 추천 후보 선택 또는 직접 입력한 날짜로 여행 일정을 확정한다.\n\n호출 시점: 방장이 카드 목록·추천 근거 화면에서 「일정 확정하기」를 누를 때.\n\n전제: 방장. 여행방이 ONGOING. recommendationRank 또는 (startDate+endDate) 중 정확히 하나만 입력 — 직접 입력 시 일수가 여행 희망 일수(durationDays)와 같아야 함.\n\n결과: status가 ONGOING→CONFIRMED로 바뀌고 확정 일정·확정 시점 통계(confirmedAttendCount 등)가 저장된다. 멤버 일정도 같은 트랜잭션에서 스냅샷으로 고정된다. 갱신된 여행방 상세를 반환한다.\n\n주의: 확정 이후에는 방장·참여자 모두 GET /trips/{tripId}에서 같은 확정 정보를 볼 수 있다.\n\n주요 에러: INVALID_CONFIRM_REQUEST — recommendationRank·직접 날짜 둘 다 없거나 둘 다 있음 · CONFIRM_DURATION_MISMATCH — 직접 입력 일수 불일치 · RECOMMENDATION_NOT_FOUND — 존재하지 않는 rank · TRIP_NOT_ONGOING — 이미 확정된 방(재확정하려면 확정 취소 후 진행)\n",
        "operationId": "confirmSchedule",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "확정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "CONFIRMED",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": "2026-08-03",
                    "confirmedEndDate": "2026-08-06",
                    "confirmedAttendCount": 5,
                    "confirmedVacationMemberCount": 1,
                    "confirmedUncertainCount": 0,
                    "lastRecommendationMode": "BASIC",
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 6,
                    "memberFillRate": 1.0,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_CONFIRM_REQUEST · CONFIRM_DURATION_MISMATCH · INVALID_INPUT",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_CONFIRM_REQUEST",
                  "message": "추천 순위 또는 시작·종료일 중 하나만 입력해주세요."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음 · RECOMMENDATION_NOT_FOUND — 존재하지 않는 rank",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방(이미 CONFIRMED면 확정 취소 후 재시도)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/activate": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 멤버십 활성화",
        "description": "목적: 방장의 일정 확인을 끝내고 여행방 입장·초대 공유를 가능하게 한다.\n\n호출 시점: 여행방 생성 직후, 일정 확인·입력 플로우를 마친 다음.\n\n전제: 본인이 방장이고 myMemberStatus=SCHEDULE_PENDING(create 직후·activate 전). 멤버는 이 API를 쓰지 않음(join으로 ACTIVE).\n\n결과: ACTIVE로 바뀌고 TripDetail(inviteCode 포함) 반환. 정기·개별이 모두 없으면 isAllFree true.\n\n주의: 이미 ACTIVE면 idempotent. 이 호출 후에만 상세·공유·방 안 API.\n\n주요 에러: TRIP_ACCESS_DENIED — 비참여자\n",
        "operationId": "activateMembership",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "활성화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 1,
                    "memberFillRate": 0.16666666666666666,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/join": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "초대 링크로 참여",
        "description": "목적: 초대 코드로 여행방에 참여한다.\n\n호출 시점: 초대 링크·코드 입력 후 일정 플로우를 마친 다음.\n\n전제: 성·이름 완료. 방이 ONGOING이고 정원 여유.\n\n결과: 멤버가 ACTIVE로 등록되고 TripDetail 반환(inviteCode 포함). 정기·개별 일정이 모두 없으면 isAllFree가 true가 된다. 이미 ACTIVE면 변경 없이 동일 응답(idempotent).\n\n주의: 멤버는 SCHEDULE_PENDING 없이 join 한 번에 ACTIVE. 방장 create 직후(SCHEDULE_PENDING)는 이 API가 아니라 activate.\n\n주요 에러: INVITE_CODE_NOT_FOUND · TRIP_MEMBER_FULL · PROFILE_NAME_REQUIRED · TRIP_ALREADY_CONFIRMED · TRIP_EXPIRED · SCHEDULE_ACTIVATION_REQUIRED(방장이 join으로 우회 시도)\n",
        "operationId": "joinTrip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참여 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "MEMBER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "inviteCode",
                      "message": "초대 코드는 필수입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "PROFILE_NAME_REQUIRED — 성·이름 미입력 · SCHEDULE_ACTIVATION_REQUIRED — 방장이 join으로 우회 시도",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "PROFILE_NAME_REQUIRED",
                  "message": "성·이름 입력이 필요합니다."
                }
              }
            }
          },
          "404": {
            "description": "INVITE_CODE_NOT_FOUND — 초대 코드 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVITE_CODE_NOT_FOUND",
                  "message": "초대 코드를 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_MEMBER_FULL — 정원 초과 · TRIP_ALREADY_CONFIRMED — 확정된 방 · TRIP_EXPIRED — 종료된 방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_MEMBER_FULL",
                  "message": "참여 인원이 가득 찼습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/notifications/device-tokens": {
      "post": {
        "tags": [
          "Notification Device Token"
        ],
        "summary": "디바이스 토큰 등록·갱신",
        "description": "목적: 본인 기기의 FCM 등록 토큰을 저장해 푸시 알림을 받을 수 있게 한다.\n\n호출 시점: 앱 시작·로그인 직후, FCM 토큰 최초 발급·갱신 시.\n\n전제: 없음 — 이미 등록된 토큰이면 소유자·기기 플랫폼을 갱신한다.\n\n결과: 204를 반환한다. 동일 토큰이 다른 유저 소유였다면 본인 소유로 재할당된다.\n\n주요 에러: NOTIFICATION_TOKEN_REQUIRED — 토큰 값 누락 · INVALID_INPUT — deviceType 누락·범위 밖 값\n",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "등록·갱신 성공(No Content)"
          },
          "400": {
            "description": "INVALID_INPUT — deviceType 누락(필수)·정의되지 않은 값",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "deviceType",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notification Device Token"
        ],
        "summary": "디바이스 토큰 해제",
        "description": "목적: 로그아웃 시 본인 기기의 FCM 토큰을 해제해 더 이상 알림이 발송되지 않게 한다.\n\n호출 시점: 로그아웃 직전.\n\n전제: 해제하려는 토큰이 본인 소유로 등록돼 있어야 한다.\n\n결과: 204를 반환한다.\n\n주요 에러: NOTIFICATION_TOKEN_NOT_FOUND — 토큰이 없거나 본인 것이 아님\n",
        "operationId": "unregister",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "해제할 FCM 등록 토큰 값",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "해제 성공(No Content)"
          },
          "404": {
            "description": "NOTIFICATION_TOKEN_NOT_FOUND — 토큰이 없거나 본인 것이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "NOTIFICATION_TOKEN_NOT_FOUND",
                  "message": "디바이스 토큰을 찾을 수 없습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "액세스 토큰 재발급",
        "description": "목적: refresh token으로 access JWT만 다시 발급한다.\n\n호출 시점: access 만료 직전·401 이후 재시도.\n\n전제: 아직 폐기되지 않은 유효한 refresh token.\n\n결과: 새 access JWT. refresh row는 유지된다.\n\n주요 에러: AUTH_INVALID_REFRESH — refresh 무효·만료\n",
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "재발급 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRefreshResponse"
                },
                "example": {
                  "data": {
                    "accessToken": "eyJhbG...",
                    "expiresIn": 7200
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "refreshToken",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "AUTH_INVALID_REFRESH — refresh 무효·만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_INVALID_REFRESH",
                  "message": "유효하지 않은 리프레시 토큰입니다."
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "로그아웃",
        "description": "목적: refresh token을 폐기해 재발급을 막는다.\n\n호출 시점: 사용자가 로그아웃아웃할 때.\n\n전제: 본인이 보유한 refresh token.\n\n결과: 204 No Content. access는 만료까지 유효할 수 있다.\n",
        "operationId": "logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "로그아웃 성공(No Content)"
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "refreshToken",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "소셜 로그인",
        "description": "목적: 소셜 토큰으로 로그인하고 access·refresh를 발급한다.\n\n호출 시점: 앱 최초 로그인·재로그인.\n\n전제: Google/Kakao/Apple에서 받은 유효한 토큰. provider가 APPLE 또는 GOOGLE이면 각 OAuth 플로우에서 받은 authorizationCode도 함께 보내야 한다 — 값의 출처는 `LoginRequest.authorizationCode` 필드 설명 참고(GOOGLE은 네이티브 앱 로그인이냐 브라우저 리다이렉트 로그인이냐에 따라 값을 받는 방법이 다르다). GOOGLE 브라우저 리다이렉트 로그인이면 `redirectUri`도 함께 보내야 한다(로그인 리다이렉트에 실제로 쓴 URL과 정확히 일치해야 함) — `LoginRequest.redirectUri` 필드 설명 참고.\n\n결과: access·refresh 토큰과 사용자 요약(hasPreSchedule·isAllFree 포함).\n\n주의: APPLE·GOOGLE 로그인은 매번(최초·재로그인 모두) authorizationCode를 새로 발급받아 보내야 한다 — 탈퇴 시 해당 provider 쪽 연결 해제(revoke)에 쓰이는 refresh token을 확보하기 위함. GOOGLE은 provider 특성상 재로그인 시 credential이 갱신되지 않을 수 있다(정상 동작). GOOGLE 브라우저 로그인인데 `redirectUri`가 누락되거나 실제 값과 다르면 Google 토큰 교환 자체가 실패해 credential 저장만 조용히 스킵된다(로그인 자체는 계속 성공, best-effort).\n\n주요 에러: AUTH_APPLE_AUTHORIZATION_CODE_REQUIRED — APPLE인데 authorizationCode 누락 · AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED — GOOGLE인데 authorizationCode 누락 · AUTH_SOCIAL_TOKEN_EXPIRED — 소셜 토큰 만료(재로그인 유도) · AUTH_SOCIAL_TOKEN_INVALID — 그 외 소셜 토큰 무효 · AUTH_SOCIAL_PROVIDER_UNAVAILABLE — 소셜 provider 접근 실패(재시도 유도)\n",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseLoginResponse"
                },
                "example": {
                  "data": {
                    "accessToken": "eyJhbG...",
                    "refreshToken": "550e8400-e29b-41d4-a716-446655440000",
                    "expiresIn": 7200,
                    "user": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "email": "user@example.com",
                      "firstName": "길동",
                      "lastName": "홍",
                      "nickname": "홍길동",
                      "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                      "provider": "GOOGLE",
                      "isGoogleCalendarConnected": false,
                      "hasPreSchedule": false,
                      "isAllFree": false,
                      "notificationEnabled": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED — provider가 GOOGLE인데 authorizationCode 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED",
                  "message": "Google 로그인에는 authorizationCode가 필요합니다."
                }
              }
            }
          },
          "401": {
            "description": "AUTH_SOCIAL_TOKEN_EXPIRED — 소셜 토큰 만료 · AUTH_SOCIAL_TOKEN_INVALID — 그 외 소셜 토큰 무효",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_SOCIAL_TOKEN_EXPIRED",
                  "message": "소셜 로그인 토큰이 만료되었습니다. 다시 로그인해 주세요."
                }
              }
            }
          },
          "503": {
            "description": "AUTH_SOCIAL_PROVIDER_UNAVAILABLE — 소셜 provider API 접근 실패(네트워크·타임아웃)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_SOCIAL_PROVIDER_UNAVAILABLE",
                  "message": "소셜 로그인 서버에 일시적으로 연결할 수 없습니다. 잠시 후 다시 시도해 주세요."
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/apple/notifications": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Apple 계정 변경 알림 수신",
        "description": "목적: Apple이 push하는 계정 변경 이벤트(연동 해제·계정 삭제 등)를 수신해 TripFit user·refresh_token을 동기화한다.\n\n호출 시점: Apple 서버가 계정 변경 시 직접 호출 — TripFit 클라이언트·로그인 흐름과 무관.\n\n전제: Apple Developer Console에 이 엔드포인트가 Server-to-Server Notification Endpoint로 등록돼 있다.\n\n결과: consent-revoked는 refresh_token만 폐기(계정 유지), account-delete는 user soft delete + refresh_token 폐기. email-enabled/email-disabled는 로그만(user.email 미보유). 존재하지 않는 sub·미인식 type도 200(no-op).\n\n주요 에러: AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD — payload·events JSON 형식 오류·필수 필드 누락 · AUTH_APPLE_NOTIFICATION_ISSUER_INVALID — iss 불일치 · AUTH_APPLE_NOTIFICATION_AUDIENCE_INVALID — aud 불일치 · AUTH_APPLE_NOTIFICATION_SIGNATURE_INVALID — 서명 불일치·만료\n",
        "operationId": "appleNotifications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppleNotificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수신·처리 완료 — no-op(존재하지 않는 sub·미인식 type)도 포함"
          },
          "400": {
            "description": "AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD — payload·events JSON 형식 오류·필수 필드 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD",
                  "message": "Apple 알림 payload 형식이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "AUTH_APPLE_NOTIFICATION_ISSUER_INVALID — iss 불일치 · AUTH_APPLE_NOTIFICATION_AUDIENCE_INVALID — aud 불일치 · AUTH_APPLE_NOTIFICATION_SIGNATURE_INVALID — 서명 불일치·만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_APPLE_NOTIFICATION_SIGNATURE_INVALID",
                  "message": "Apple 알림 서명 검증에 실패했습니다."
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/users/schedule/regular/{id}": {
      "delete": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 삭제",
        "description": "목적: 본인 정기 일정을 삭제한다.\n\n호출 시점: 정기 일정 삭제.\n\n전제: 본인 소유 일정 ID.\n\n결과: 204 No Content.\n\n주의: 정기·개인이 모두 0건이 되면 hasPreSchedule이 false가 된다(GET /auth/me 재조회).\n\n주요 에러: REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님\n",
        "operationId": "deleteRegular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공(No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "404": {
            "description": "REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "REGULAR_SCHEDULE_NOT_FOUND",
                  "message": "정기 일정을 찾을 수 없습니다."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 전체 수정",
        "description": "목적: 기존 정기 일정의 제목·요일·시각·연차 설정을 통째로 갱신한다.\n\n호출 시점: 정기 일정 편집 저장.\n\n전제: 본인 소유 일정 ID.\n\n결과: 갱신된 정기 일정. start/end 변경 시 슬롯을 다시 계산한다.\n\n주요 에러: REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님\n",
        "operationId": "updateRegular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "출근",
                    "daysOfWeek": "MON,TUE,WED,THU,FRI",
                    "startTime": "09:00:00",
                    "endTime": "18:00:00",
                    "morningStatus": "IMPOSSIBLE",
                    "afternoonStatus": "IMPOSSIBLE",
                    "eveningStatus": "POSSIBLE",
                    "maxVacationDays": 2,
                    "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                    "halfVacationAvailable": false,
                    "holidayRest": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "daysOfWeek",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "404": {
            "description": "REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "REGULAR_SCHEDULE_NOT_FOUND",
                  "message": "정기 일정을 찾을 수 없습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/personal": {
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "개인 일정 슬롯 단위 오버라이드 upsert",
        "description": "목적: 여러 날짜에 슬롯(오전/오후/저녁) 오버라이드·불확실 여부를 등록·수정한다.\n\n호출 시점: 개인 일정 편집 저장.\n\n전제: items 최소 1개, 같은 scheduleDate 중복 불가. 각 항목은 slots·uncertain을 독립적으로 선택한다 — 슬롯을 안 건드리려면 slots 필드 자체를 생략(그 슬롯은 정기+구글 계산값을 그대로 따름), 건드리려면 3개 전부 명시. 이 API로는 오버라이드가 삭제되지 않는다 — 한 번 반영된 날짜는 계속 유지된다.\n\n결과: 반영된 날짜들의 정기+개별+구글을 합친 최종 확정값(POSSIBLE/IMPOSSIBLE로 확정, null 없음).\n\n주의: 첫 저장 시 hasPreSchedule true(GET /auth/me 재조회).\n\n주요 에러: INVALID_INPUT — items가 비어 있음·scheduleDate 중복·slots와 uncertain이 둘 다 없음·slots 필드 일부 누락\n",
        "operationId": "upsertPersonal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonalScheduleRequest"
              },
              "examples": {
                "슬롯만 변경": {
                  "summary": "slots 3개를 명시. uncertain 필드는 생략 → 기존 값 유지(신규 날짜면 false)",
                  "description": "슬롯만 변경",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "IMPOSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "하루 종일 불가능으로 전체 오버라이드": {
                  "summary": "3슬롯 모두 IMPOSSIBLE. 정기 일정이 해당 슬롯을 가능으로 계산해도 개별 오버라이드가 항상 이김",
                  "description": "하루 종일 불가능으로 전체 오버라이드",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-06",
                        "slots": {
                          "morningStatus": "IMPOSSIBLE",
                          "afternoonStatus": "IMPOSSIBLE",
                          "eveningStatus": "IMPOSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "불확실 여부만 변경(ON)": {
                  "summary": "slots 필드 자체를 생략 → 슬롯 오버라이드는 그대로 두고 uncertain만 갱신",
                  "description": "불확실 여부만 변경(ON)",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "uncertain": true
                      }
                    ]
                  }
                },
                "불확실 여부 해제(OFF)": {
                  "summary": "slots 생략, uncertain만 false로 되돌림 → 켜져 있던 동안 저장해둔 슬롯 오버라이드가 그대로 복귀",
                  "description": "불확실 여부 해제(OFF)",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-06",
                        "uncertain": false
                      }
                    ]
                  }
                },
                "슬롯·불확실 동시 변경": {
                  "summary": "한 항목에 slots와 uncertain을 같이 담아 한 번에 반영",
                  "description": "슬롯·불확실 동시 변경",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "IMPOSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        },
                        "uncertain": false
                      }
                    ]
                  }
                },
                "구글 캘린더 신호를 덮어쓰는 개별 오버라이드": {
                  "summary": "정기 일정 없는 날짜라 구글 연동 신호로 오후만 불가능하게 계산됐지만, 개별 오버라이드로 하루 종일 가능 선언 — 구글보다 개별이 항상 우선",
                  "description": "구글 캘린더 신호를 덮어쓰는 개별 오버라이드",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-08",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "하루 종일 가능 재선언": {
                  "summary": "이미 오버라이드된 날짜에 3슬롯 모두 POSSIBLE + uncertain false로 다시 저장 — 이 값 조합이어도 오버라이드가 삭제되는 경로는 없음, 그대로 새 값으로 저장됨",
                  "description": "하루 종일 가능 재선언",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        },
                        "uncertain": false
                      }
                    ]
                  }
                },
                "정기·구글 신호 없는 날짜에 개별 일정 단독 등록": {
                  "summary": "정기 일정이 하나도 없는 날짜(예: 주말)에도 개별 오버라이드만 단독으로 등록 가능 — 등록 즉시 캘린더 조회에 나타나고 더 이상 생략되지 않음",
                  "description": "정기·구글 신호 없는 날짜에 개별 일정 단독 등록",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-01",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "IMPOSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "❌ 같은 날짜를 아이템 두 개로 분리 → 400": {
                  "summary": "같은 scheduleDate가 배열에 두 번 오면 400(INVALID_INPUT) — slots·uncertain은 한 아이템에 같이 담을 수 있으므로 나눠 보낼 필요가 없음",
                  "description": "❌ 같은 날짜를 아이템 두 개로 분리 → 400",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "uncertain": true
                      },
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE",
                          "eveningStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "❌ slots·uncertain 둘 다 없음 → 400": {
                  "summary": "무엇을 바꾸라는 요청인지 알 수 없어 400(INVALID_INPUT)",
                  "description": "❌ slots·uncertain 둘 다 없음 → 400",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03"
                      }
                    ]
                  }
                },
                "❌ slots 슬롯 일부 누락 → 400": {
                  "summary": "slots 필드를 보내는 순간 아침·오후·저녁 3개 전부 필수 — 일부만 보내면 400(INVALID_INPUT)",
                  "description": "❌ slots 슬롯 일부 누락 → 400",
                  "value": {
                    "items": [
                      {
                        "scheduleDate": "2026-08-03",
                        "slots": {
                          "morningStatus": "POSSIBLE",
                          "afternoonStatus": "POSSIBLE"
                        }
                      }
                    ]
                  }
                },
                "❌ items 빈 배열 → 400": {
                  "summary": "items가 비어 있으면 400(INVALID_INPUT)",
                  "description": "❌ items 빈 배열 → 400",
                  "value": {
                    "items": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponsePersonalScheduleResponse"
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "scheduleDate": "2026-08-03",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "POSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "uncertain": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT — items 비어 있음·scheduleDate 중복·한 항목에 slots·uncertain 둘 다 없음·slots 필드 일부 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/profile": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "마이페이지 프로필(성·이름·알림 설정) 부분 수정",
        "description": "목적: 온보딩에서 이미 등록된 성·이름을 다시 수정하거나, 알림 수신 여부(BR-USER-005)를 변경한다. 최초 이름 등록은 이 API가 아니라 온보딩 성·이름 등록(`PATCH /users/onboarding/name`)을 사용한다.\n\n호출 시점: 마이페이지 프로필 수정 화면, 알림 설정 화면.\n\n전제: firstName·lastName·notificationEnabled 중 최소 1개 필드를 포함해야 한다. 생략(요청에 없음)된 필드는 미변경. 포함된 firstName·lastName이 공백이면 400.\n\n결과: 요청에 포함된 필드만 반영된 UserSummary. hasPreSchedule은 login/me와 동일하게 조회 시 파생.\n\n주요 에러: INVALID_INPUT — 전 필드 생략(빈 patch) 또는 포함된 이름 필드가 공백\n",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasPreSchedule": false,
                    "isAllFree": false,
                    "notificationEnabled": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "최소 1개 필드가 필요합니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/onboarding/name": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "온보딩 성·이름 최초 등록",
        "description": "목적: 온보딩에서 성·이름을 최초로 등록한다. 등록 이후 재수정은 이 API가 아니라 마이페이지 프로필 수정(`PATCH /users/profile`)을 사용한다.\n\n호출 시점: 소셜 로그인 직후, 성·이름이 아직 없는 사용자에게 노출되는 온보딩 입력 화면. 이미 등록된 사용자에게는 호출되지 않는다.\n\n전제: 성·이름 모두 필수.\n\n결과: UserSummary. hasPreSchedule은 일정 row EXISTS 파생(저장 필드 아님).\n\n주의: 성·이름 미완료면 이후 여행방 생성·참여가 PROFILE_NAME_REQUIRED로 거부된다.\n",
        "operationId": "registerOnboardingName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasPreSchedule": false,
                    "isAllFree": false,
                    "notificationEnabled": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 필수입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 상세",
        "description": "목적: 여행방 상세 정보를 조회한다.\n\n호출 시점: 방 홈·설정 화면 진입.\n\n전제: 멤버이며 ACTIVE(일정 activate/join 완료)이고 방 입장 조건(일정≥1 또는 전부 free)을 충족.\n\n결과: TripDetailResponse(inviteCode 포함 — 방장 초대 공유용).\n\n주의: SCHEDULE_PENDING(방장 activate 전)면 SCHEDULE_ACTIVATION_REQUIRED. create 응답에는 inviteCode가 없다.\n\n주요 에러: TRIP_ACCESS_DENIED · SCHEDULE_ACTIVATION_REQUIRED · SCHEDULE_ENTRY_REQUIRED\n",
        "operationId": "getTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 · SCHEDULE_ACTIVATION_REQUIRED — 이 방 일정 확인 미완료 · SCHEDULE_ENTRY_REQUIRED — 입장 조건 미충족",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 삭제",
        "description": "목적: 여행방을 삭제(soft)한다.\n\n호출 시점: 방장이 방 삭제 확인.\n\n전제: 방장. SCHEDULE_PENDING(activate 전)여도 삭제 가능 — 단, 삭제는 메타 권한이지 방 입장·공유가 아님.\n\n결과: 204 No Content. 멤버 row도 연쇄 soft delete.\n\n주요 에러: TRIP_FORBIDDEN — 방장 아님\n",
        "operationId": "deleteTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공(No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 메타 수정",
        "description": "목적: 방 이름·인원·여행지 등 메타를 수정한다.\n\n호출 시점: 방 설정에서 저장.\n\n전제: 방장. 여행방이 ONGOING(조율 중). 희망 기간(startRange~endRange)은 수정 불가.\n\n결과: 갱신된 TripDetailResponse.\n\n주요 에러: TRIP_FORBIDDEN — 방장 아님 · TRIP_NOT_ONGOING — 조율 중이 아님\n",
        "operationId": "patchTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 최대 15자입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/recommendations/{rank}/feedback": {
      "patch": {
        "tags": [
          "Recommendation"
        ],
        "summary": "추천 근거 피드백 저장",
        "description": "목적: 추천 근거 화면의 \"이 추천이 도움이 되었나요?\" 응답을 저장한다.\n\n호출 시점: 방장이 👍/👎 중 하나를 선택할 때. 같은 후보를 다시 열어 다른 선택을 하면 값을 덮어쓴다(upsert).\n\n전제: 방장. status=NOT_HELPFUL이면 reason 필수, reason=OTHER면 reasonDetail 필수.\n\n결과: 204 No Content. 저장된 값은 이후 추천 근거 상세 조회의 feedback 필드로 확인 가능.\n\n주의: 해당 rank의 recommendation이 재추천으로 삭제된 뒤에도 이 피드백 자체는 분석용으로 보존된다(다음 조회에는 노출 안 됨 — 새 recommendation에 새로 남겨야 함).\n\n주요 에러: INVALID_RECOMMENDATION_FEEDBACK — reason 누락 또는 OTHER인데 reasonDetail 없음 · RECOMMENDATION_NOT_FOUND — 해당 rank 없음\n",
        "operationId": "saveRecommendationFeedback",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "rank",
            "in": "path",
            "description": "추천 순위 (1~3)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveRecommendationFeedbackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "저장 성공(No Content)"
          },
          "400": {
            "description": "INVALID_RECOMMENDATION_FEEDBACK — 사유 누락·불완전",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_RECOMMENDATION_FEEDBACK",
                  "message": "추천 피드백 사유를 올바르게 입력해주세요."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음 · RECOMMENDATION_NOT_FOUND — 해당 rank 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "RECOMMENDATION_NOT_FOUND",
                  "message": "추천 후보를 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/pin": {
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "Pin 토글",
        "description": "목적: 홈 목록에서 이 방을 고정(Pin)하거나 해제한다.\n\n호출 시점: 카드 Pin 버튼.\n\n전제: 멤버(SCHEDULE_PENDING 방장 포함). 방 입장(ACTIVE + 입장 조건)은 필요 없다.\n\n결과: 본인 isPinned·pinnedAt이 반영된 TripDetail.\n",
        "operationId": "updatePin",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTripPinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pin 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "confirmedAttendCount": null,
                    "confirmedVacationMemberCount": null,
                    "confirmedUncertainCount": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": true,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "길동",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/notifications/{id}/read": {
      "patch": {
        "tags": [
          "Notification"
        ],
        "summary": "알림 읽음 처리",
        "description": "목적: 알림센터에서 알림을 열람했음을 표시한다.\n\n전제: 본인이 받은 알림이어야 한다.\n\n결과: 204를 반환한다. 이미 읽음 상태면 변경 없이 동일하게 처리한다(idempotent).\n\n주요 에러: NOTIFICATION_NOT_FOUND — 존재하지 않거나 본인 것이 아닌 알림\n",
        "operationId": "markRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "읽음 처리 성공(No Content)"
          },
          "404": {
            "description": "NOTIFICATION_NOT_FOUND — 존재하지 않거나 본인 것이 아닌 알림",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "NOTIFICATION_NOT_FOUND",
                  "message": "알림을 찾을 수 없습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/calendar": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기+개별 합친 일정 달력 조회",
        "description": "목적: 본인 정기 일정과 개별 일정을 합쳐 날짜별 가능/불가능 달력을 조회한다.\n\n호출 시점: 마이페이지 달력·일정 확인 화면.\n\n전제: 요청 구간은 오늘부터 오늘+2년−1일 안이어야 한다. 단, 참여 중인 조율 중(ONGOING) 여행방의 희망 기간 종료일이 그보다 뒤라면 그 날짜까지 상한이 늘어난다.\n\n결과: 날짜별로 정기+개별을 합친 슬롯. 개인 일정이 정기보다 우선하고, 정기 복수면 IMPOSSIBLE이 우선. 빈 날은 응답에서 생략.\n\n주의: 마이페이지 여행 칩용 방 목록은 GET /trips?scope=ongoing을 따로 호출한다.\n\n주요 에러: INVALID_INPUT — 조회 구간이 허용 윈도우 밖\n",
        "operationId": "getCalendar",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "달력 시작일(포함). 오늘~오늘+2년−1 안",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-22"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "달력 종료일(포함). 오늘~오늘+2년−1 안, ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-31"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseScheduleCalendarResponse"
                },
                "example": {
                  "data": {
                    "startDate": "2026-08-01",
                    "endDate": "2026-08-07",
                    "days": [
                      {
                        "date": "2026-08-03",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "IMPOSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "uncertain": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT — 조회 구간이 허용 윈도우(오늘~오늘+2년−1, 단 ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지) 밖",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
[...]
