{
  "openapi": "3.1.0",
  "info": {
    "title": "TripFit API",
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "https://api.tripfit.online",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "Trip",
      "description": "여행방 생성, 목록 조회, 상세 조회, 참여, 일정 확인 및 고정(Pin) 기능을 제공합니다."
    },
    {
      "name": "Google Calendar",
      "description": "구글 캘린더 OAuth 연동 및 해제 기능을 제공합니다."
    },
    {
      "name": "User",
      "description": "온보딩 시 이름 등록, 마이페이지 프로필 수정, 회원 탈퇴 기능을 제공합니다."
    },
    {
      "name": "Auth",
      "description": "소셜 로그인, 토큰 재발급, 현재 사용자 조회 기능을 제공합니다."
    },
    {
      "name": "Trip Recommendation",
      "description": "일정 추천 결과 조회, 확정 및 확정 취소 기능을 제공합니다. (후보, 근거, 피드백은 방장 전용이며, 확정 결과는 참여자 모두 조회 가능합니다)"
    },
    {
      "name": "User Schedule",
      "description": "사용자의 정기 및 개별 일정을 관리하고, 병합된 달력을 조회하는 기능을 제공합니다."
    },
    {
      "name": "Holiday",
      "description": "대한민국 공휴일 날짜를 조회하여 캘린더 화면 표시를 지원합니다."
    },
    {
      "name": "Trip Members",
      "description": "여행방 참여자 목록, 그룹 달력 조회, 참여자 내보내기 기능을 제공합니다."
    },
    {
      "name": "Notification Device Token",
      "description": "FCM 디바이스 토큰 등록 및 해제 기능을 제공합니다."
    },
    {
      "name": "Notification",
      "description": "알림센터 기능으로, 사용자의 알림 이력 조회 및 읽음 처리 기능을 제공합니다."
    }
  ],
  "paths": {
    "/api/v1/users/schedule/regular": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 목록",
        "description": "[정기 일정 목록] 본인의 정기 일정 목록을 생성 시각 오름차순으로 조회합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 오전/오후/저녁 슬롯 정보가 포함되어 반환됩니다.\n\n <p>\n ■ BE 처리 <br>\n - DB에 저장된 start/end 시각을 기준으로 슬롯을 계산하여 응답합니다.",
        "operationId": "listRegular",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleListResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 생성",
        "description": "[정기 일정 생성] 매주 반복되는 정기 일정을 추가합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - daysOfWeek는 Weekday(MON~SUN)를 콤마로 구분한 CSV 형식으로 전송해야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - 입력된 start/end 시각을 분석해 슬롯을 계산하고 저장합니다.",
        "operationId": "createRegular",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 전체 삭제",
        "description": "[정기 일정 전체 삭제] 본인의 정기 일정을 전부 삭제합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 사전 일정 입력 플로우에서 \"정기 일정이 있나요? → 없어요\"를 선택했을 때 호출합니다. <br>\n - 정기 일정이 0건이어도 정상(204) 처리됩니다.\n\n <p>\n ■ BE 처리 <br>\n - 정기 일정만 일괄 삭제하며, 개별 일정과 연차·휴일 정보는 유지됩니다.",
        "operationId": "deleteAllRegular",
        "responses": {
          "204": {
            "description": "정기 일정 일괄 삭제가 성공적으로 완료되었습니다. 일정이 없는 경우에도 성공 처리됩니다. (No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/google-calendar": {
      "post": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동",
        "description": "[Google Calendar 연동] Google OAuth 동의 후 구글 캘린더 읽기 권한을 연동합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 브라우저 리다이렉트 방식인 경우 redirectUri도 함께 보내야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - authorization code 검증 후 연동하며, 직후 freeBusy(스케줄) 정보를 1회 동기화합니다.",
        "operationId": "connect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectGoogleCalendarRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "연동 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                }
              }
            }
          },
          "502": {
            "description": "인증 코드(authorization code) 교환에 실패했거나 Google API 호출에 실패했습니다(GOOGLE_CALENDAR_CONNECT_FAILED).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "GOOGLE_CALENDAR_CONNECT_FAILED": {
                    "description": "Google Calendar 연동에 실패했습니다.",
                    "value": {
                      "code": "GOOGLE_CALENDAR_CONNECT_FAILED",
                      "message": "Google Calendar 연동에 실패했습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동 해제",
        "description": "[Google Calendar 연동 해제] 구글 캘린더 연동을 해제합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 사용자가 명시적으로 연동 해제를 요청할 때 호출합니다.\n\n <p>\n ■ BE 처리 <br>\n - Google OAuth 토큰 Revoke 및 관련 동기화 데이터를 삭제합니다. <br>\n - 연동 해제 시에도 사용자가 직접 입력한 정기·개별 일정은 그대로 유지됩니다.",
        "operationId": "disconnect",
        "responses": {
          "200": {
            "description": "연동 해제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                }
              }
            }
          },
          "409": {
            "description": "연동되지 않은 상태에서 해제를 요청했습니다(GOOGLE_CALENDAR_NOT_CONNECTED).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "GOOGLE_CALENDAR_NOT_CONNECTED": {
                    "description": "Google Calendar가 연동되어 있지 않습니다.",
                    "value": {
                      "code": "GOOGLE_CALENDAR_NOT_CONNECTED",
                      "message": "Google Calendar가 연동되어 있지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "내 여행방 목록",
        "description": "[내 여행방 목록] 내가 속한 여행방 카드 목록을 조회합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 목록에는 inviteCode가 포함되지 않습니다 (상세 화면에서 조회). <br>\n - SCHEDULE_PENDING 상태인 카드를 탭하면 방 상세가 아닌 '일정 activate 플로우'로 라우팅해야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - scope=ongoing: 진행 중인 방을 Pin 여부 및 일정순으로 정렬하여 반환합니다. <br>\n - scope=all: 모든 방을 최근 활동순으로 정렬하여 반환합니다.",
        "operationId": "listTrips",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "목록 뷰. ongoing=진행 중 캐러셀, all=전체",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "여행방 상태 필터. ONGOING|CONFIRMED|ALL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL"
            }
          },
          {
            "name": "ownerOnly",
            "in": "query",
            "description": "true면 본인이 방장인 방만",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripListResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 생성",
        "description": "[여행방 생성] 새 여행방을 생성하고 호출자를 방장(OWNER)으로 등록합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 생성 직후엔 초대 코드가 없으며, 일정 확인(activate)을 마쳐야 ACTIVE 상태가 되어 초대 코드가 발급됩니다.\n\n <p>\n ■ BE 처리 <br>\n - 여행방 저장 및 방장 권한 등록을 수행합니다. <br>\n - 방장의 초기 상태는 SCHEDULE_PENDING으로 설정됩니다.",
        "operationId": "createTrip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripEntryResponse"
                }
              }
            }
          },
          "403": {
            "description": "프로필 이름(성, 이름)이 입력되지 않았습니다(PROFILE_NAME_REQUIRED).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROFILE_NAME_REQUIRED": {
                    "description": "성·이름 입력이 필요합니다.",
                    "value": {
                      "code": "PROFILE_NAME_REQUIRED",
                      "message": "성·이름 입력이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/unconfirm": {
      "post": {
        "tags": [
          "Trip Recommendation"
        ],
        "summary": "확정 취소",
        "description": "[확정 취소] 확정된 일정을 취소하고 다시 조율 중(ONGOING) 상태로 되돌립니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장 전용 기능입니다. <br>\n - reason 필드 필수, reason=OTHER인 경우 reasonDetail 필수입니다.\n\n <p>\n ■ BE 처리 <br>\n - 여행방 상태를 CONFIRMED에서 ONGOING으로 변경합니다. <br>\n - 확정 관련 필드를 초기화하며, 기존 추천 TOP3와 멤버 일정 스냅샷을 삭제합니다.",
        "operationId": "unconfirm",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnconfirmTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "취소 성공(No Content)"
          },
          "400": {
            "description": "확정 취소 사유가 유효하지 않습니다(INVALID_UNCONFIRM_REASON).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_UNCONFIRM_REASON": {
                    "description": "확정 취소 사유를 올바르게 입력해주세요.",
                    "value": {
                      "code": "INVALID_UNCONFIRM_REASON",
                      "message": "확정 취소 사유를 올바르게 입력해주세요."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "요청한 여행방을 찾을 수 없거나 이미 삭제된 상태(TRIP_NOT_FOUND)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_FOUND": {
                    "description": "여행방을 찾을 수 없습니다.",
                    "value": {
                      "code": "TRIP_NOT_FOUND",
                      "message": "여행방을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "아직 확정되지 않은 여행방입니다(TRIP_NOT_CONFIRMED).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_CONFIRMED": {
                    "description": "확정된 여행방만 확정을 취소할 수 있습니다.",
                    "value": {
                      "code": "TRIP_NOT_CONFIRMED",
                      "message": "확정된 여행방만 확정을 취소할 수 있습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN (방장 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/recommendations": {
      "get": {
        "tags": [
          "Trip Recommendation"
        ],
        "summary": "추천 TOP3 카드 목록",
        "description": "[추천 TOP3 카드 목록] 현재 저장된 추천 후보 TOP3 카드를 조회합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장 전용 기능입니다. <br>\n - 카드에는 통계 요약만 포함되며, 참여자별 상세는 '추천 근거 상세' API를 호출해야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - 여행방의 현재 추천 상태(목록)를 조회하여 반환합니다.",
        "operationId": "listRecommendations",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationListResponse"
                }
              }
            }
          },
          "404": {
            "description": "요청한 여행방을 찾을 수 없거나 이미 삭제된 상태(TRIP_NOT_FOUND)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_FOUND": {
                    "description": "여행방을 찾을 수 없습니다.",
                    "value": {
                      "code": "TRIP_NOT_FOUND",
                      "message": "여행방을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN (방장 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trip Recommendation"
        ],
        "summary": "추천 TOP3 재계산",
        "description": "[추천 TOP3 재계산] 선택한 모드로 추천 후보 TOP3를 계산하여 저장합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장 전용 기능입니다. <br>\n - \"다시 추천받기\" 시 같은/다른 모드로 재호출할 수 있습니다.\n\n <p>\n ■ BE 처리 <br>\n - 기존 추천 후보는 Soft/Hard Delete 처리되고 새 TOP3로 교체됩니다.",
        "operationId": "generateRecommendations",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRecommendationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "계산 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력값이 올바르지 않습니다(INVALID_INPUT). 추천 모드(mode)가 유효하지 않거나 여행 일수가 정해지지 않았습니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "요청한 여행방을 찾을 수 없거나 이미 삭제된 상태(TRIP_NOT_FOUND)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_FOUND": {
                    "description": "여행방을 찾을 수 없습니다.",
                    "value": {
                      "code": "TRIP_NOT_FOUND",
                      "message": "여행방을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "현재 조율 중(ONGOING)인 여행방이 아닙니다(TRIP_NOT_ONGOING).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_ONGOING": {
                    "description": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다.",
                    "value": {
                      "code": "TRIP_NOT_ONGOING",
                      "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN (방장 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/confirm": {
      "post": {
        "tags": [
          "Trip Recommendation"
        ],
        "summary": "일정 확정",
        "description": "[일정 확정] 추천 후보 또는 직접 입력한 날짜로 여행 일정을 최종 확정합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장 전용 기능입니다. <br>\n - recommendationRank 또는 (startDate + endDate) 중 하나만 입력해야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - 여행방 상태를 ONGOING에서 CONFIRMED로 변경합니다. <br>\n - 확정 시점의 통계를 저장하고 동일 트랜잭션에서 멤버 일정 스냅샷을 고정합니다.",
        "operationId": "confirmSchedule",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "확정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "확정 요청이 올바르지 않거나, 기간이 불일치하거나, 입력값이 유효하지 않습니다(INVALID_CONFIRM_REQUEST, CONFIRM_DURATION_MISMATCH, INVALID_INPUT).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "여행방을 찾을 수 없거나, 존재하지 않는 추천 순위(rank)입니다(TRIP_NOT_FOUND, RECOMMENDATION_NOT_FOUND).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "조율 중(ONGOING)인 여행방이 아닙니다(TRIP_NOT_ONGOING). 이미 확정된 상태라면 확정 취소 후 재시도해야 합니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_ONGOING": {
                    "description": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다.",
                    "value": {
                      "code": "TRIP_NOT_ONGOING",
                      "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN (방장 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/activate": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 멤버십 활성화",
        "description": "[여행방 멤버십 활성화] 일정 확인을 마친 후 호출하여 최종적으로 방 입장을 완료(ACTIVE)합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 사전 일정 입력을 한 번도 완료하지 않았다면 403 에러가 발생합니다. <br>\n - 이미 활성화된 상태에서 호출해도 문제없이 동일 응답을 반환합니다(idempotent). <br>\n - 이 호출 이후부터 방 상세 API 등 방 안의 모든 기능을 사용할 수 있습니다.\n\n <p>\n ■ BE 처리 <br>\n - 호출자의 멤버십 상태를 SCHEDULE_PENDING에서 ACTIVE로 갱신합니다.",
        "operationId": "activateMembership",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "활성화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                }
              }
            }
          },
          "403": {
            "description": "비참여자이거나, 해당 방의 사전 일정 입력을 아직 완료하지 않은 상태(TRIP_ACCESS_DENIED, PRE_SCHEDULE_REQUIRED)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/join": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "초대 링크로 참여",
        "description": "[초대 링크로 참여] 초대 링크를 통해 여행방의 멤버로 참여합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 링크 접속 직후, 가장 먼저 호출해야 합니다. <br>\n - 이 API 완료 후, 일정 확인 플로우를 거쳐 activate를 호출해야 최종 입장(ACTIVE)됩니다. <br>\n - 기참여자의 재호출 시 에러 없이 현재 상태(myMemberStatus)를 반환하므로, 이에 맞춰 라우팅 분기 처리가 필요합니다.\n\n <p>\n ■ BE 처리 <br>\n - 사용자를 멤버로 추가하며 초기 상태를 SCHEDULE_PENDING으로 설정합니다. <br>\n - PENDING 인원 포함 정원 초과 시 에러를 반환합니다.",
        "operationId": "joinTrip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참여 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripEntryResponse"
                }
              }
            }
          },
          "403": {
            "description": "프로필 이름(성, 이름)이 입력되지 않았습니다(PROFILE_NAME_REQUIRED).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROFILE_NAME_REQUIRED": {
                    "description": "성·이름 입력이 필요합니다.",
                    "value": {
                      "code": "PROFILE_NAME_REQUIRED",
                      "message": "성·이름 입력이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "INVITE_CODE_NOT_FOUND (초대 코드 없음)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "여행방 정원이 초과되었거나, 이미 확정 혹은 종료된 방입니다(TRIP_MEMBER_FULL, TRIP_ALREADY_CONFIRMED, TRIP_EXPIRED).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/device-tokens": {
      "post": {
        "tags": [
          "Notification Device Token"
        ],
        "summary": "디바이스 토큰 등록·갱신",
        "description": "[디바이스 토큰 등록·갱신] 본인 기기의 FCM 등록 토큰을 서버에 저장합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 앱 실행 시 혹은 토큰 갱신 이벤트 발생 시 주기적으로 호출해야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - 동일 토큰이 이미 등록되어 있다면 현재 사용자의 소유로 재할당(Upsert) 및 갱신합니다.",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "디바이스 토큰이 성공적으로 등록 또는 갱신되었습니다. (No Content)"
          },
          "400": {
            "description": "디바이스 타입(deviceType)이 누락되었거나 정의되지 않은 유효하지 않은 값입니다(INVALID_INPUT).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notification Device Token"
        ],
        "summary": "디바이스 토큰 해제",
        "description": "[디바이스 토큰 해제] 특정 기기의 FCM 토큰을 서버에서 삭제합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 로그아웃 직전 등에 호출하여 더 이상 푸시 알림이 오지 않도록 합니다.\n\n <p>\n ■ BE 처리 <br>\n - DB에서 해당 FCM 토큰을 찾아 삭제합니다.",
        "operationId": "unregister",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "해제할 FCM 등록 토큰 값입니다.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "디바이스 토큰이 성공적으로 해제되었습니다. (No Content)"
          },
          "404": {
            "description": "해당 토큰을 찾을 수 없거나 본인의 토큰이 아닙니다(NOTIFICATION_TOKEN_NOT_FOUND).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOTIFICATION_TOKEN_NOT_FOUND": {
                    "description": "디바이스 토큰을 찾을 수 없습니다.",
                    "value": {
                      "code": "NOTIFICATION_TOKEN_NOT_FOUND",
                      "message": "디바이스 토큰을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "액세스·리프레시 토큰 재발급 (RTR)",
        "description": "[액세스·리프레시 토큰 재발급 (RTR)] Refresh 쿠키를 이용해 Access/Refresh 토큰을 함께 갱신합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 브라우저에 저장된 기존 refresh token 쿠키를 전송해야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - 기존 refresh token은 즉시 폐기되고 새 쿠키가 발급됩니다. <br>\n - 이미 폐기된 쿠키가 제출되면 탈취로 간주해 연관된 로그인 체인 전체를 폐기합니다.",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "description": "로그인 또는 이전 재발급 응답에서 받은 refresh token 쿠키 값입니다.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "토큰 재발급이 성공적으로 처리되었습니다. (Set-Cookie를 통해 새 refreshToken이 HttpOnly로 전달됩니다)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "refresh 쿠키가 없거나 만료되었거나(AUTH_INVALID_REFRESH), 이미 폐기된 refresh 토큰이 재사용되었습니다(AUTH_REFRESH_REUSE). 재로그인이 필요합니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_REFRESH": {
                    "description": "유효하지 않은 리프레시 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_REFRESH",
                      "message": "유효하지 않은 리프레시 토큰입니다."
                    }
                  },
                  "AUTH_REFRESH_REUSE": {
                    "description": "재사용된 리프레시 토큰이 감지되어 다시 로그인해야 합니다.",
                    "value": {
                      "code": "AUTH_REFRESH_REUSE",
                      "message": "재사용된 리프레시 토큰이 감지되어 다시 로그인해야 합니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "로그아웃",
        "description": "[로그아웃] 발급된 Refresh Token을 폐기하여 재발급을 막습니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 액세스 토큰은 남은 수명(TTL) 동안 유효할 수 있습니다 (블랙리스트 없음).\n\n <p>\n ■ BE 처리 <br>\n - Refresh Token 쿠키를 서버 및 브라우저에서 폐기합니다. <br>\n - 쿠키가 없거나 만료됐어도 에러 없이 성공(204) 처리됩니다.",
        "operationId": "logout",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "description": "폐기할 refresh token 쿠키 값입니다. (제공되지 않아도 로그아웃은 성공 처리됩니다)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "로그아웃이 성공적으로 완료되었습니다. (No Content, Set-Cookie를 통해 refreshToken 쿠키가 삭제됩니다)"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "소셜 로그인",
        "description": "[소셜 로그인] 소셜(Apple/Google) 인증으로 로그인하고 JWT 토큰을 발급합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - APPLE/GOOGLE 모두 매 로그인 시 새로 발급받은 authorizationCode를 보내야 합니다. <br>\n - GOOGLE 브라우저 리다이렉트 로그인이면 redirectUri도 실제 값과 일치하게 보내야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - Refresh Token은 HttpOnly 쿠키로 응답하며, 클라이언트에서 직접 다루지 않습니다. <br>\n - GOOGLE은 redirectUri 불일치 시 토큰 교환이 조용히 스킵될 수 있습니다(best-effort).",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인이 성공적으로 처리되었습니다. (Set-Cookie를 통해 refreshToken이 HttpOnly로 전달됩니다)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseLoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "소셜 로그인 제공자가 GOOGLE인데 인증 코드(authorizationCode)가 누락되었습니다(AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED": {
                    "description": "Google 로그인에는 authorizationCode가 필요합니다.",
                    "value": {
                      "code": "AUTH_GOOGLE_AUTHORIZATION_CODE_REQUIRED",
                      "message": "Google 로그인에는 authorizationCode가 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "소셜 토큰이 만료되었거나(AUTH_SOCIAL_TOKEN_EXPIRED) 유효하지 않은 토큰입니다(AUTH_SOCIAL_TOKEN_INVALID).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_SOCIAL_TOKEN_EXPIRED": {
                    "description": "소셜 로그인 토큰이 만료되었습니다. 다시 로그인해 주세요.",
                    "value": {
                      "code": "AUTH_SOCIAL_TOKEN_EXPIRED",
                      "message": "소셜 로그인 토큰이 만료되었습니다. 다시 로그인해 주세요."
                    }
                  },
                  "AUTH_SOCIAL_TOKEN_INVALID": {
                    "description": "유효하지 않은 소셜 로그인 토큰입니다.",
                    "value": {
                      "code": "AUTH_SOCIAL_TOKEN_INVALID",
                      "message": "유효하지 않은 소셜 로그인 토큰입니다."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "네트워크 문제나 타임아웃 등으로 인해 소셜 제공자 API에 접근할 수 없습니다(AUTH_SOCIAL_PROVIDER_UNAVAILABLE).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_SOCIAL_PROVIDER_UNAVAILABLE": {
                    "description": "소셜 로그인 서버에 일시적으로 연결할 수 없습니다. 잠시 후 다시 시도해 주세요.",
                    "value": {
                      "code": "AUTH_SOCIAL_PROVIDER_UNAVAILABLE",
                      "message": "소셜 로그인 서버에 일시적으로 연결할 수 없습니다. 잠시 후 다시 시도해 주세요."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/auth/apple/notifications": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Apple 계정 변경 알림 수신",
        "description": "[Apple 계정 변경 알림 수신] Apple Server-to-Server Notification을 수신합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 클라이언트가 아닌 Apple 서버가 직접 호출하는 웹훅입니다.\n\n <p>\n ■ BE 처리 <br>\n - Apple 계정 변경 이벤트(연동 해제, 계정 삭제 등)를 수신해 사용자 정보를 동기화합니다. <br>\n - consent-revoked는 토큰만 폐기, account-delete는 계정 Soft Delete까지 수행합니다.",
        "operationId": "appleNotifications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppleNotificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "이벤트 수신 및 처리가 완료되었습니다. (존재하지 않는 sub이거나 인식할 수 없는 type인 경우에도 성공 처리됩니다)"
          },
          "400": {
            "description": "payload 또는 events의 JSON 형식 오류가 있거나, 필수 필드가 누락되었습니다(AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD": {
                    "description": "Apple 알림 payload 형식이 올바르지 않습니다.",
                    "value": {
                      "code": "AUTH_APPLE_NOTIFICATION_INVALID_PAYLOAD",
                      "message": "Apple 알림 payload 형식이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "서명 불일치, 만료 등으로 인해 토큰 검증에 실패했습니다(AUTH_APPLE_NOTIFICATION_ISSUER_INVALID, AUDIENCE_INVALID, SIGNATURE_INVALID).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/users/schedule/vacation-policy": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "연차·휴일 정보 조회",
        "description": "[연차·휴일 정보 조회] 본인의 연차·휴일 정보를 조회합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 한 명당 하나의 데이터만 존재합니다. <br>\n - advanceLeaveDays가 null이면 사전 일정 입력을 아직 완료하지 않은 대상입니다.\n\n <p>\n ■ BE 처리 <br>\n - 사용자의 휴일 정책 정보를 DB에서 조회하여 반환합니다.",
        "operationId": "getVacationPolicy",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseVacationPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "연차·휴일 정보 전체 교체",
        "description": "[연차·휴일 정보 전체 교체] 본인의 연차·휴일 정보를 전체 교체(저장)합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 4개 필드 모두 전송 필수이며 누락 시 400 에러가 발생합니다. <br>\n - 이 호출을 완료하면 \"사전 일정 입력 완료\" 상태로 간주되어 이후 방 입장 시 해당 플로우를 건너뜁니다.\n\n <p>\n ■ BE 처리 <br>\n - 4개 필드를 DB에 저장(교체)하고 사전 신청일 값을 할당합니다.",
        "operationId": "updateVacationPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVacationPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseVacationPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "필수 필드가 누락되었거나 값 검증에 실패했습니다(INVALID_INPUT). (필수 4개 필드 중 하나라도 누락 시 발생)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/regular/{id}": {
      "delete": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 삭제",
        "description": "[정기 일정 삭제] 본인의 정기 일정을 한 건 단위로 삭제합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 본인 소유가 아닌 일정의 id를 요청하면 404 에러가 발생합니다.\n\n <p>\n ■ BE 처리 <br>\n - 해당 id를 가진 정기 일정 데이터를 Hard Delete 합니다.",
        "operationId": "deleteRegular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "정기 일정 삭제가 성공적으로 완료되었습니다. (No Content)"
          },
          "404": {
            "description": "삭제할 정기 일정을 찾을 수 없거나 본인 소유의 일정이 아닙니다(REGULAR_SCHEDULE_NOT_FOUND).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "REGULAR_SCHEDULE_NOT_FOUND": {
                    "description": "정기 일정을 찾을 수 없습니다.",
                    "value": {
                      "code": "REGULAR_SCHEDULE_NOT_FOUND",
                      "message": "정기 일정을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 전체 수정",
        "description": "[정기 일정 전체 수정] 기존 정기 일정의 제목·요일·시각·연차 설정 등을 통째로 갱신합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 해당 id의 정기 일정 데이터를 덮어씁니다.\n\n <p>\n ■ BE 처리 <br>\n - start/end 시각 변경 시 슬롯 데이터를 재계산하여 업데이트합니다.",
        "operationId": "updateRegular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRegularScheduleResponse"
                }
              }
            }
          },
          "404": {
            "description": "수정할 정기 일정을 찾을 수 없거나 본인 소유의 일정이 아닙니다(REGULAR_SCHEDULE_NOT_FOUND).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "REGULAR_SCHEDULE_NOT_FOUND": {
                    "description": "정기 일정을 찾을 수 없습니다.",
                    "value": {
                      "code": "REGULAR_SCHEDULE_NOT_FOUND",
                      "message": "정기 일정을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/personal": {
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "개별 일정 슬롯 단위 오버라이드 upsert",
        "description": "[개별 일정 슬롯 단위 오버라이드 upsert] 특정 날짜들의 슬롯(오전/오후/저녁) 상태 및 불확실(uncertain) 여부를 덮어씁니다.\n\n <p>\n ■ FE 유의사항 <br>\n - items는 1개 이상 필수이며 scheduleDate는 중복 불가입니다. <br>\n - slots 필드를 보낼 경우 반드시 3개 슬롯 모두 명시해야 합니다. <br>\n - 달력 조회 허용 윈도우(오늘 ~ 오늘+2년-1)를 벗어난 날짜 포함 시 400 에러입니다.\n\n <p>\n ■ BE 처리 <br>\n - 각 날짜별 개별 일정을 Upsert 합니다 (한 번 반영된 기록은 이 API로 삭제 불가).",
        "operationId": "upsertPersonal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonalScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponsePersonalScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력값이 올바르지 않습니다(INVALID_INPUT). (items가 비어있음, scheduleDate 중복, 한 항목에 slots와 uncertain 동시 누락, slots 필드 일부 누락, 또는 scheduleDate가 허용된 윈도우 범위를 벗어남)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/profile": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "마이페이지 프로필(성·이름·알림 설정) 부분 수정",
        "description": "[마이페이지 프로필 부분 수정] 이미 등록된 성/이름을 수정하거나 알림 수신 여부를 변경합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - firstName, lastName, notificationEnabled 중 최소 1개 필드를 포함해야 합니다. <br>\n - 생략(null)된 필드는 수정되지 않습니다.\n\n <p>\n ■ BE 처리 <br>\n - 요청된 필드만 선택적으로 업데이트(PATCH)합니다.",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/onboarding/name": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "온보딩 성·이름 최초 등록",
        "description": "[온보딩 성·이름 최초 등록] 온보딩 과정에서 성과 이름을 최초로 등록합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 이 API 호출 전에는 여행방 생성/참여가 PROFILE_NAME_REQUIRED로 제한됩니다. <br>\n - 이미 등록 완료된 경우 마이페이지 수정 API를 사용해야 합니다.\n\n <p>\n ■ BE 처리 <br>\n - 성/이름을 저장하여 회원 프로필을 갱신합니다.",
        "operationId": "registerOnboardingName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 상세",
        "description": "[여행방 상세] 여행방의 상세 정보와 멤버 요약 리스트를 조회합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - ACTIVE 상태(일정 activate 완료)인 멤버만 호출 가능합니다 (SCHEDULE_PENDING 시 에러 발생). <br>\n - 응답에 inviteCode가 포함되어 초대 공유가 가능해집니다.\n\n <p>\n ■ BE 처리 <br>\n - 사용자 권한 및 멤버 ACTIVE 상태 검증 후 데이터를 반환합니다.",
        "operationId": "getTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                }
              }
            }
          },
          "403": {
            "description": "비참여자이거나, 해당 방의 사전 일정 입력을 아직 완료하지 않은 상태(TRIP_ACCESS_DENIED, SCHEDULE_ACTIVATION_REQUIRED)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "요청한 여행방을 찾을 수 없거나 이미 삭제된 상태(TRIP_NOT_FOUND)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_FOUND": {
                    "description": "여행방을 찾을 수 없습니다.",
                    "value": {
                      "code": "TRIP_NOT_FOUND",
                      "message": "여행방을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 삭제",
        "description": "[여행방 삭제] 여행방과 연관된 데이터를 삭제(Soft Delete)합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장 전용 기능입니다. SCHEDULE_PENDING 상태에서도 즉시 삭제 가능합니다.\n\n <p>\n ■ BE 처리 <br>\n - 방장 권한 검증 후 여행방 엔티티와 연관된 멤버 데이터를 연쇄적으로 Soft Delete 처리합니다.",
        "operationId": "deleteTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공(No Content)"
          },
          "404": {
            "description": "요청한 여행방을 찾을 수 없거나 이미 삭제된 상태(TRIP_NOT_FOUND)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_FOUND": {
                    "description": "여행방을 찾을 수 없습니다.",
                    "value": {
                      "code": "TRIP_NOT_FOUND",
                      "message": "여행방을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN (방장 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 메타 수정",
        "description": "[여행방 메타 수정] 방 이름, 인원, 여행지 등 메타 정보를 수정합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장만 호출 가능하며, 여행방이 ONGOING(조율 중) 상태일 때만 가능합니다. <br>\n - 희망 기간(startRange, endRange)은 이 API로 수정할 수 없습니다.\n\n <p>\n ■ BE 처리 <br>\n - 권한(방장) 및 상태(ONGOING) 검증 후 정보를 갱신합니다.",
        "operationId": "patchTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "요청한 여행방을 찾을 수 없거나 이미 삭제된 상태(TRIP_NOT_FOUND)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_FOUND": {
                    "description": "여행방을 찾을 수 없습니다.",
                    "value": {
                      "code": "TRIP_NOT_FOUND",
                      "message": "여행방을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "현재 조율 중(ONGOING)인 여행방이 아닙니다(TRIP_NOT_ONGOING).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_ONGOING": {
                    "description": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다.",
                    "value": {
                      "code": "TRIP_NOT_ONGOING",
                      "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN (방장 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/recommendations/{rank}/feedback": {
      "patch": {
        "tags": [
          "Trip Recommendation"
        ],
        "summary": "추천 근거 피드백 저장",
        "description": "[추천 근거 피드백 저장] 추천 근거 화면에서의 \"이 추천이 도움이 되었나요?\" 피드백을 저장합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장 전용 기능입니다. <br>\n - status=NOT_HELPFUL이면 reason이 필수, reason=OTHER면 reasonDetail 필수입니다. <br>\n - 같은 후보에 대해 재호출 시 값이 덮어씌워집니다 (Upsert).\n\n <p>\n ■ BE 처리 <br>\n - 해당 피드백을 Upsert 방식으로 저장하며 재추천 시에도 분석용으로 보존합니다.",
        "operationId": "saveRecommendationFeedback",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "rank",
            "in": "path",
            "description": "추천 순위 (1~3)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveRecommendationFeedbackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "저장 성공(No Content)"
          },
          "400": {
            "description": "피드백 사유가 누락되었거나 불완전합니다(INVALID_RECOMMENDATION_FEEDBACK).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_RECOMMENDATION_FEEDBACK": {
                    "description": "추천 피드백 사유를 올바르게 입력해주세요.",
                    "value": {
                      "code": "INVALID_RECOMMENDATION_FEEDBACK",
                      "message": "추천 피드백 사유를 올바르게 입력해주세요."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "여행방을 찾을 수 없거나, 해당 순위(rank)의 추천 결과가 존재하지 않습니다(TRIP_NOT_FOUND, RECOMMENDATION_NOT_FOUND).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN (방장 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/pin": {
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "Pin 토글",
        "description": "[Pin 토글] 홈 목록에서 특정 여행방을 상단 고정(Pin)하거나 해제합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 멤버십에 속해 있다면, 입장(ACTIVE) 전이더라도 호출 가능합니다.\n\n <p>\n ■ BE 처리 <br>\n - 멤버십 검증 후 사용자의 해당 방 Pin 상태를 토글합니다.",
        "operationId": "updatePin",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTripPinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pin 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTripDetailResponse"
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED (비참여자)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "요청한 여행방을 찾을 수 없거나 이미 삭제된 상태(TRIP_NOT_FOUND)입니다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TRIP_NOT_FOUND": {
                    "description": "여행방을 찾을 수 없습니다.",
                    "value": {
                      "code": "TRIP_NOT_FOUND",
                      "message": "여행방을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/{id}/read": {
      "patch": {
        "tags": [
          "Notification"
        ],
        "summary": "알림 읽음 처리",
        "description": "[알림 읽음 처리] 알림센터에서 특정 알림을 열람했음을 서버에 기록합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 읽음 처리 완료 시 204 No Content를 반환합니다.\n\n <p>\n ■ BE 처리 <br>\n - 해당 알림의 isRead 상태를 true로 업데이트합니다 (Idempotent).",
        "operationId": "markRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "알림 읽음 처리가 성공적으로 완료되었습니다. (No Content)"
          },
          "404": {
            "description": "요청한 알림이 존재하지 않거나, 본인의 알림이 아닙니다(NOTIFICATION_NOT_FOUND).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOTIFICATION_NOT_FOUND": {
                    "description": "알림을 찾을 수 없습니다.",
                    "value": {
                      "code": "NOTIFICATION_NOT_FOUND",
                      "message": "알림을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/calendar": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기+개별 합친 일정 달력 조회",
        "description": "[정기+개별 합친 일정 달력 조회] 본인의 정기 일정과 개별 일정을 병합한 날짜별 가능/불가능 슬롯 달력을 조회합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 스케줄이 비어 있는 날짜는 응답에서 생략됩니다. <br>\n - 여행방별 달력이 아니므로, 진행 중(ONGOING)인 방의 일정을 위한 조회 시에 사용합니다.\n\n <p>\n ■ BE 처리 <br>\n - 정기 일정, 개별 일정, (연동 시) 구글 일정을 병합하여 슬롯 값을 계산합니다. <br>\n - 우선순위: 개별 일정 > 구글/정기 일정 (정기가 여럿이면 불가능 우선).",
        "operationId": "getCalendar",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "달력 시작일(포함). 오늘~오늘+2년−1 안",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "달력 종료일(포함). 오늘~오늘+2년−1 안, ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseScheduleCalendarResponse"
                }
              }
            }
          },
          "400": {
            "description": "조회 구간이 허용된 윈도우 범위를 벗어났습니다(INVALID_INPUT). (허용 범위: 오늘부터 최대 2년 후까지. 단, 조율 중인 여행의 희망 종료일이 더 뒤라면 그 날짜까지 허용)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_INPUT": {
                    "description": "입력값이 올바르지 않습니다.",
                    "value": {
                      "code": "INVALID_INPUT",
                      "message": "입력값이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
                  },
                  "AUTH_EXPIRED": {
                    "description": "액세스 토큰이 만료되었습니다.",
                    "value": {
                      "code": "AUTH_EXPIRED",
                      "message": "액세스 토큰이 만료되었습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/recommendations/{rank}": {
      "get": {
        "tags": [
          "Trip Recommendation"
        ],
        "summary": "추천 근거 상세",
        "description": "[추천 근거 상세] 추천 후보 1건의 참여자별 브레이크다운 및 방장의 이전 피드백을 조회합니다.\n\n <p>\n ■ FE 유의사항 <br>\n - 방장 전용 기능입니다. <br>\n - 이전에 남긴 피드백이 없으면 feedback 값은 null입니다.\n\n <p>\n ■ BE 처리 <br>\n - 브레이크다운(연차일수 등) 데이터는 조회 시점에 동적으로 다시 계산하여 반환합니다.",
        "operationId": "getRecommendationDetail",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "rank",
            "in": "path",
            "description": "추천 순위 (1~3)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseRecommendationDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "여행방을 찾을 수 없거나, 해당 순위(rank)의 추천 결과가 존재하지 않습니다(TRIP_NOT_FOUND, RECOMMENDATION_NOT_FOUND).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_INVALID_TOKEN": {
                    "description": "유효하지 않은 인증 토큰입니다.",
                    "value": {
                      "code": "AUTH_INVALID_TOKEN",
                      "message": "유효하지 않은 인증 토큰입니다."
                    }
[...]
