{
  "openapi": "3.1.0",
  "info": {
    "title": "TripFit API",
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "https://api.tripfit.online",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "Trip",
      "description": "여행방 생성·목록·상세·참여·일정 확인·Pin"
    },
    {
      "name": "User",
      "description": "온보딩 이름 등록·마이페이지 프로필 수정·탈퇴"
    },
    {
      "name": "Auth",
      "description": "소셜 로그인·토큰·현재 사용자"
    },
    {
      "name": "Google Calendar",
      "description": "Google Calendar OAuth 연동·해제"
    },
    {
      "name": "Trip Members",
      "description": "여행방 참여자 목록·그룹 달력·내보내기"
    },
    {
      "name": "User Schedule",
      "description": "본인 정기·개인 일정과 달력(effective)"
    }
  ],
  "paths": {
    "/api/v1/users/schedule/regular": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 목록",
        "description": "목적: 본인 정기 일정 목록을 조회한다.\n\n결과: 생성 시각 오름차순. 오전·오후·저녁 슬롯은 start/end로 계산된 값.\n",
        "operationId": "listRegular",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "title": "출근",
                        "daysOfWeek": "MON,TUE,WED,THU,FRI",
                        "startTime": "09:00:00",
                        "endTime": "18:00:00",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "IMPOSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "maxVacationDays": 2,
                        "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                        "halfVacationAvailable": false,
                        "holidayRest": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 생성",
        "description": "목적: 매주 반복되는 정기 일정을 추가한다.\n\n호출 시점: 일정 온보딩·마이페이지에서 정기 일정 추가.\n\n전제: startTime/endTime·요일(daysOfWeek) 필수.\n\n결과: 저장된 정기 일정. 슬롯은 start/end로 계산된다. daysOfWeek는 Weekday(MON~SUN) 콤마 CSV.\n\n주의: 첫 정기 일정 생성 시 hasPreSchedule이 true가 된다(GET /auth/me 등으로 재조회).\n",
        "operationId": "createRegular",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "출근",
                    "daysOfWeek": "MON,TUE,WED,THU,FRI",
                    "startTime": "09:00:00",
                    "endTime": "18:00:00",
                    "morningStatus": "IMPOSSIBLE",
                    "afternoonStatus": "IMPOSSIBLE",
                    "eveningStatus": "POSSIBLE",
                    "maxVacationDays": 2,
                    "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                    "halfVacationAvailable": false,
                    "holidayRest": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "daysOfWeek",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/google-calendar": {
      "post": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동",
        "description": "목적: Google OAuth authorization code로 Calendar 읽기 권한을 연동한다.\n\n호출 시점: 온보딩·설정 화면에서 Google Calendar 연동 버튼 완료 직후.\n\n전제: TripFit 로그인(JWT) 상태. 앱·웹이 Google OAuth 동의 후 authorization code를 전달한다.\n\n결과: isGoogleCalendarConnected=true로 갱신된 UserSummary. 연동 직후 freeBusy 1회 sync.\n\n주요 에러: GOOGLE_CALENDAR_CONNECT_FAILED — code 교환·Google API 실패\n",
        "operationId": "connect",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectGoogleCalendarRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "연동 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": true,
                    "hasPreSchedule": false,
                    "isAllFree": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "authorizationCode",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "502": {
            "description": "GOOGLE_CALENDAR_CONNECT_FAILED — authorization code 교환·Google API 호출 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "GOOGLE_CALENDAR_CONNECT_FAILED",
                  "message": "Google Calendar 연동에 실패했습니다."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Google Calendar"
        ],
        "summary": "Google Calendar 연동 해제",
        "description": "목적: Google Calendar 연동을 의도적으로 해제한다.\n\n호출 시점: 설정·온보딩에서 연동 해제 선택 시.\n\n전제: isGoogleCalendarConnected=true.\n\n결과: revoke(best-effort) 후 credential·busy_day 삭제, flag=false UserSummary. 정기·개별 일정은 유지.\n\n주요 에러: GOOGLE_CALENDAR_NOT_CONNECTED — 미연동 상태에서 해제 요청\n",
        "operationId": "disconnect",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "연동 해제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasPreSchedule": false,
                    "isAllFree": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "409": {
            "description": "GOOGLE_CALENDAR_NOT_CONNECTED — 미연동 상태에서 해제 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "GOOGLE_CALENDAR_NOT_CONNECTED",
                  "message": "Google Calendar가 연동되어 있지 않습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "내 여행방 목록",
        "description": "목적: 내가 속한 여행방 카드 목록을 조회한다.\n\n호출 시점: 홈 캐러셀·전체 여행·마이페이지 여행 칩.\n\n결과: TripHomeCard 목록. scope=ongoing은 endRange≥오늘·Pin 정렬, scope=all은 Pin 없이 최근 활동순.\n\n주의: status는 여행방 상태 필터(ONGOING|CONFIRMED|ALL). ownerOnly=true면 방장인 방만.\n\n홈에 SCHEDULE_PENDING(방장 confirm 전) 카드가 보일 수 있다 — 탭 시 상세가 아니라 일정 confirm 플로우로 라우팅.\n\n목록 카드에는 inviteCode가 없다(공유는 입장 후 상세).\n",
        "operationId": "listTrips",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "목록 뷰. ongoing=진행 중 캐러셀, all=전체",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "example": "all"
          },
          {
            "name": "status",
            "in": "query",
            "description": "여행방 상태 필터. ONGOING|CONFIRMED|ALL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL"
            },
            "example": "ALL"
          },
          {
            "name": "ownerOnly",
            "in": "query",
            "description": "true면 본인이 방장인 방만",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "trips": [
                      {
                        "tripId": "550e8400-e29b-41d4-a716-446655440000",
                        "name": "제주도 여행",
                        "destination": "제주도",
                        "startRange": "2026-08-01",
                        "endRange": "2026-08-31",
                        "durationDays": 4,
                        "durationNights": 3,
                        "memberCount": 6,
                        "status": "ONGOING",
                        "lastActivityAt": "2026-07-20T10:00:00",
                        "pinned": true,
                        "myRole": "OWNER",
                        "myMemberStatus": "ACTIVE",
                        "activeMemberCount": 3,
                        "memberFillRate": 0.5,
                        "membersPreview": [
                          {
                            "userId": "550e8400-e29b-41d4-a716-446655440000",
                            "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                            "role": "OWNER"
                          }
                        ],
                        "membersPreviewOverflow": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 생성",
        "description": "목적: 새 여행방을 만들고 방장으로 등록한다.\n\n호출 시점: 여행방 만들기 완료 직후.\n\n전제: 성·이름 프로필 완료. 이름은 필수(최대 15자).\n\n결과: 여행방 ID·상태. 방장 멤버 상태는 SCHEDULE_PENDING(방장 전용·confirm 전). inviteCode는 응답에 없음.\n\n주의: 생성만으로는 방 입장·초대 공유가 안 된다. 일정 플로우 후 confirm(ACTIVE)·상세에서 inviteCode를 쓴다.\n\n주요 에러: PROFILE_NAME_REQUIRED — 성·이름 미입력\n",
        "operationId": "createTrip",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "status": "ONGOING",
                    "myMemberStatus": "SCHEDULE_PENDING"
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 최대 15자입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "PROFILE_NAME_REQUIRED — 성·이름 미입력",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "PROFILE_NAME_REQUIRED",
                  "message": "성·이름 입력이 필요합니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/schedule/confirm": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 일정 확인 완료",
        "description": "목적: 방장의 일정 확인을 끝내고 여행방 입장·초대 공유를 가능하게 한다.\n\n호출 시점: 여행방 생성 직후, 일정 확인·입력 플로우를 마친 다음.\n\n전제: 본인이 방장이고 myMemberStatus=SCHEDULE_PENDING(create 직후·confirm 전). 멤버는 이 API를 쓰지 않음(join으로 ACTIVE).\n\n결과: ACTIVE로 바뀌고 TripDetail(inviteCode 포함) 반환. 정기·개별이 모두 없으면 isAllFree true.\n\n주의: 이미 ACTIVE면 idempotent. 이 호출 후에만 상세·공유·방 안 API.\n\n주요 에러: SCHEDULE_ENTRY_REQUIRED — 입장 조건(일정≥1 또는 전부 free) 미충족\n",
        "operationId": "confirmSchedule",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "확인 완료 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 1,
                    "memberFillRate": 0.17,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "SCHEDULE_ENTRY_REQUIRED — 입장 조건 미충족",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "SCHEDULE_ENTRY_REQUIRED",
                  "message": "방 입장을 위해 일정을 등록하거나 전부 free를 확인해야 합니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/join": {
      "post": {
        "tags": [
          "Trip"
        ],
        "summary": "초대 링크로 참여",
        "description": "목적: 초대 코드로 여행방에 참여한다.\n\n호출 시점: 초대 링크·코드 입력 후 일정 플로우를 마친 다음.\n\n전제: 성·이름 완료. 입장 조건(일정≥1 또는 전부 free). 방이 ONGOING이고 정원 여유.\n\n결과: 멤버가 ACTIVE로 등록되고 TripDetail 반환(inviteCode 포함). 이미 ACTIVE면 변경 없이 동일 응답(idempotent).\n\n주의: 멤버는 SCHEDULE_PENDING 없이 join 한 번에 ACTIVE. 방장 create 직후(SCHEDULE_PENDING)는 이 API가 아니라 schedule/confirm.\n\n주요 에러: INVITE_CODE_NOT_FOUND · TRIP_MEMBER_FULL · PROFILE_NAME_REQUIRED · SCHEDULE_ENTRY_REQUIRED · TRIP_ALREADY_CONFIRMED · TRIP_EXPIRED · SCHEDULE_CONFIRM_REQUIRED(방장이 join으로 우회 시도)\n",
        "operationId": "joinTrip",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참여 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "MEMBER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "inviteCode",
                      "message": "초대 코드는 필수입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "PROFILE_NAME_REQUIRED — 성·이름 미입력 · SCHEDULE_ENTRY_REQUIRED — 입장 조건 미충족 · SCHEDULE_CONFIRM_REQUIRED — 방장이 join으로 우회 시도",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "PROFILE_NAME_REQUIRED",
                  "message": "성·이름 입력이 필요합니다."
                }
              }
            }
          },
          "404": {
            "description": "INVITE_CODE_NOT_FOUND — 초대 코드 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVITE_CODE_NOT_FOUND",
                  "message": "초대 코드를 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_MEMBER_FULL — 정원 초과 · TRIP_ALREADY_CONFIRMED — 확정된 방 · TRIP_EXPIRED — 종료된 방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_MEMBER_FULL",
                  "message": "참여 인원이 가득 찼습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "액세스 토큰 재발급",
        "description": "목적: refresh token으로 access JWT만 다시 발급한다.\n\n호출 시점: access 만료 직전·401 이후 재시도.\n\n전제: 아직 폐기되지 않은 유효한 refresh token.\n\n결과: 새 access JWT. refresh row는 유지된다.\n\n주요 에러: AUTH_INVALID_REFRESH — refresh 무효·만료\n",
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "재발급 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "accessToken": "eyJhbG...",
                    "expiresIn": 7200
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "refreshToken",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "AUTH_INVALID_REFRESH — refresh 무효·만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_INVALID_REFRESH",
                  "message": "유효하지 않은 리프레시 토큰입니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "로그아웃",
        "description": "목적: refresh token을 폐기해 재발급을 막는다.\n\n호출 시점: 사용자가 로그아웃아웃할 때.\n\n전제: 본인이 보유한 refresh token.\n\n결과: 204 No Content. access는 만료까지 유효할 수 있다.\n",
        "operationId": "logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "로그아웃 성공(No Content)"
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "refreshToken",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "소셜 로그인",
        "description": "목적: 소셜 토큰으로 로그인하고 access·refresh를 발급한다.\n\n호출 시점: 앱 최초 로그인·재로그인.\n\n전제: Google/Kakao/Apple에서 받은 유효한 토큰.\n\n결과: access·refresh 토큰과 사용자 요약(hasPreSchedule·isAllFree 포함).\n\n주요 에러: AUTH_SOCIAL_TOKEN_EXPIRED — 소셜 토큰 만료(재로그인 유도) · AUTH_SOCIAL_TOKEN_INVALID — 그 외 소셜 토큰 무효 · AUTH_SOCIAL_PROVIDER_UNAVAILABLE — 소셜 provider 접근 실패(재시도 유도)\n",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "accessToken": "eyJhbG...",
                    "refreshToken": "550e8400-e29b-41d4-a716-446655440000",
                    "expiresIn": 7200,
                    "user": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "email": "user@example.com",
                      "firstName": "길동",
                      "lastName": "홍",
                      "nickname": "홍길동",
                      "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                      "provider": "GOOGLE",
                      "isGoogleCalendarConnected": false,
                      "hasPreSchedule": false,
                      "isAllFree": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "token",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "AUTH_SOCIAL_TOKEN_EXPIRED — 소셜 토큰 만료 · AUTH_SOCIAL_TOKEN_INVALID — 그 외 소셜 토큰 무효",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_SOCIAL_TOKEN_EXPIRED",
                  "message": "소셜 로그인 토큰이 만료되었습니다. 다시 로그인해 주세요."
                }
              }
            }
          },
          "503": {
            "description": "AUTH_SOCIAL_PROVIDER_UNAVAILABLE — 소셜 provider API 접근 실패(네트워크·타임아웃)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_SOCIAL_PROVIDER_UNAVAILABLE",
                  "message": "소셜 로그인 서버에 일시적으로 연결할 수 없습니다. 잠시 후 다시 시도해 주세요."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/regular/{id}": {
      "delete": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 삭제",
        "description": "목적: 본인 정기 일정을 삭제한다.\n\n호출 시점: 정기 일정 삭제.\n\n전제: 본인 소유 일정 ID.\n\n결과: 204 No Content.\n\n주의: 정기·개인이 모두 0건이 되면 hasPreSchedule이 false가 된다(GET /auth/me 재조회).\n\n주요 에러: REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님\n",
        "operationId": "deleteRegular",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공(No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "404": {
            "description": "REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "REGULAR_SCHEDULE_NOT_FOUND",
                  "message": "정기 일정을 찾을 수 없습니다."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "정기 일정 전체 수정",
        "description": "목적: 기존 정기 일정의 제목·요일·시각·연차 설정을 통째로 갱신한다.\n\n호출 시점: 정기 일정 편집 저장.\n\n전제: 본인 소유 일정 ID.\n\n결과: 갱신된 정기 일정. start/end 변경 시 슬롯을 다시 계산한다.\n\n주요 에러: REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님\n",
        "operationId": "updateRegular",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRegularScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "출근",
                    "daysOfWeek": "MON,TUE,WED,THU,FRI",
                    "startTime": "09:00:00",
                    "endTime": "18:00:00",
                    "morningStatus": "IMPOSSIBLE",
                    "afternoonStatus": "IMPOSSIBLE",
                    "eveningStatus": "POSSIBLE",
                    "maxVacationDays": 2,
                    "vacationApplyPeriod": "ONE_WEEK_BEFORE",
                    "halfVacationAvailable": false,
                    "holidayRest": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "daysOfWeek",
                      "message": "필수 값입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "404": {
            "description": "REGULAR_SCHEDULE_NOT_FOUND — 없거나 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "REGULAR_SCHEDULE_NOT_FOUND",
                  "message": "정기 일정을 찾을 수 없습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/schedule/personal": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "개인 일정 조회",
        "description": "목적: 날짜 구간별 개인(예외) 일정을 조회한다.\n\n호출 시점: 개인 일정 편집 화면 진입.\n\n전제: startDate·endDate 필수.\n\n결과: 날짜당 오전·오후·저녁 슬롯과 uncertain 플래그.\n",
        "operationId": "getPersonal",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "조회 시작일(포함)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "조회 종료일(포함)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-31"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "scheduleDate": "2026-08-03",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "POSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "uncertain": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Schedule"
        ],
        "summary": "개인 일정 bulk upsert",
        "description": "목적: 여러 날짜의 개인 일정을 한 번에 저장·삭제한다.\n\n호출 시점: 개인 일정 편집 저장.\n\n전제: items(upsert)와 deletedDates(삭제) 중 하나 이상 필요. 같은 날짜가 양쪽에 있으면 안 된다.\n\n결과: 반영 후 해당 구간 개인 일정 목록.\n\n주의: 첫 저장 시 hasPreSchedule true. 전부 삭제 후 정기·개인 0건이면 false(GET /auth/me 재조회).\n\n주요 에러: INVALID_INPUT — items·deletedDates 교집합 날짜 또는 둘 다 비어 있음\n",
        "operationId": "upsertPersonal",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonalScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "scheduleDate": "2026-08-03",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "POSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "uncertain": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT — 요청 값 검증 실패 또는 items·deletedDates 교집합 날짜·둘 다 비어 있음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/profile": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "마이페이지 프로필(성·이름) 재수정",
        "description": "목적: 온보딩에서 이미 등록된 성·이름을 마이페이지에서 다시 수정한다. 최초 등록은 이 API가 아니라 온보딩 성·이름 등록(`PATCH /users/onboarding/name`)을 사용한다.\n\n호출 시점: 마이페이지 프로필 수정 화면 — 성·이름 등록을 이미 마친 사용자만 호출한다.\n\n전제: 성·이름 모두 필수.\n\n결과: UserSummary. hasPreSchedule은 login/me와 동일하게 조회 시 파생.\n",
        "operationId": "updateProfile",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasPreSchedule": false,
                    "isAllFree": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 필수입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/onboarding/name": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "온보딩 성·이름 최초 등록",
        "description": "목적: 온보딩에서 성·이름을 최초로 등록한다. 등록 이후 재수정은 이 API가 아니라 마이페이지 프로필 수정(`PATCH /users/profile`)을 사용한다.\n\n호출 시점: 소셜 로그인 직후, 성·이름이 아직 없는 사용자에게 노출되는 온보딩 입력 화면. 이미 등록된 사용자에게는 호출되지 않는다.\n\n전제: 성·이름 모두 필수.\n\n결과: UserSummary. hasPreSchedule은 일정 row EXISTS 파생(저장 필드 아님).\n\n주의: 성·이름 미완료면 이후 여행방 생성·참여가 PROFILE_NAME_REQUIRED로 거부된다.\n",
        "operationId": "registerOnboardingName",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasPreSchedule": false,
                    "isAllFree": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 필수입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}": {
      "get": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 상세",
        "description": "목적: 여행방 상세 정보를 조회한다.\n\n호출 시점: 방 홈·설정 화면 진입.\n\n전제: 멤버이며 ACTIVE(일정 confirm/join 완료)이고 방 입장 조건(일정≥1 또는 전부 free)을 충족.\n\n결과: TripDetailResponse(inviteCode 포함 — 방장 초대 공유용).\n\n주의: SCHEDULE_PENDING(방장 confirm 전)면 SCHEDULE_CONFIRM_REQUIRED. create 응답에는 inviteCode가 없다.\n\n주요 에러: TRIP_ACCESS_DENIED · SCHEDULE_CONFIRM_REQUIRED · SCHEDULE_ENTRY_REQUIRED\n",
        "operationId": "getTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 · SCHEDULE_CONFIRM_REQUIRED — 이 방 일정 확인 미완료 · SCHEDULE_ENTRY_REQUIRED — 입장 조건 미충족",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 삭제",
        "description": "목적: 여행방을 삭제(soft)한다.\n\n호출 시점: 방장이 방 삭제 확인.\n\n전제: 방장. SCHEDULE_PENDING(confirm 전)여도 삭제 가능 — 단, 삭제는 메타 권한이지 방 입장·공유가 아님.\n\n결과: 204 No Content. 멤버 row도 연쇄 soft delete.\n\n주요 에러: TRIP_FORBIDDEN — 방장 아님\n",
        "operationId": "deleteTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공(No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "여행방 메타 수정",
        "description": "목적: 방 이름·인원·여행지 등 메타를 수정한다.\n\n호출 시점: 방 설정에서 저장.\n\n전제: 방장. 여행방이 ONGOING(조율 중). 희망 기간(startRange~endRange)은 수정 불가.\n\n결과: 갱신된 TripDetailResponse.\n\n주요 에러: TRIP_FORBIDDEN — 방장 아님 · TRIP_NOT_ONGOING — 조율 중이 아님\n",
        "operationId": "patchTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTripRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": false,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청 값 검증 실패 (INVALID_INPUT)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다.",
                  "errors": [
                    {
                      "field": "name",
                      "message": "이름은 최대 15자입니다."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/pin": {
      "patch": {
        "tags": [
          "Trip"
        ],
        "summary": "Pin 토글",
        "description": "목적: 홈 목록에서 이 방을 고정(Pin)하거나 해제한다.\n\n호출 시점: 카드 Pin 버튼.\n\n전제: 멤버이며 방 입장 가능(ACTIVE + 입장 조건).\n\n결과: 본인 isPinned·pinnedAt이 반영된 TripDetail.\n",
        "operationId": "updatePin",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTripPinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pin 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tripId": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "제주도 여행",
                    "destination": "제주도",
                    "startRange": "2026-08-01",
                    "endRange": "2026-08-31",
                    "durationDays": 4,
                    "durationNights": 3,
                    "memberCount": 6,
                    "status": "ONGOING",
                    "inviteCode": "AB12CD",
                    "confirmedStartDate": null,
                    "confirmedEndDate": null,
                    "lastRecommendationMode": null,
                    "lastActivityAt": "2026-07-20T10:00:00",
                    "pinned": true,
                    "myRole": "OWNER",
                    "myMemberStatus": "ACTIVE",
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "membersPreview": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                        "role": "OWNER"
                      }
                    ],
                    "membersPreviewOverflow": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 · SCHEDULE_CONFIRM_REQUIRED — 이 방 일정 확인 미완료 · SCHEDULE_ENTRY_REQUIRED — 입장 조건 미충족",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/users/schedule/calendar": {
      "get": {
        "tags": [
          "User Schedule"
        ],
        "summary": "일정 달력(effective) 조회",
        "description": "목적: 본인 전역 가능/불가능 달력(effective)을 조회한다.\n\n호출 시점: 마이페이지 달력·일정 확인 화면.\n\n전제: 요청 구간은 오늘부터 오늘+2년−1일 안이어야 한다. 단, 참여 중인 조율 중(ONGOING) 여행방의 희망 기간 종료일이 그보다 뒤라면 그 날짜까지 상한이 늘어난다.\n\n결과: 날짜별 effective 슬롯. 개인 일정이 정기보다 우선하고, 정기 복수면 IMPOSSIBLE이 우선. 빈 날은 응답에서 생략.\n\n주의: 마이페이지 여행 칩용 방 목록은 GET /trips?scope=ongoing을 따로 호출한다.\n\n주요 에러: INVALID_INPUT — 조회 구간이 허용 윈도우 밖\n",
        "operationId": "getCalendar",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "달력 시작일(포함). 오늘~오늘+2년−1 안",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-22"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "달력 종료일(포함). 오늘~오늘+2년−1 안, ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-31"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "startDate": "2026-08-01",
                    "endDate": "2026-08-07",
                    "days": [
                      {
                        "date": "2026-08-03",
                        "morningStatus": "IMPOSSIBLE",
                        "afternoonStatus": "IMPOSSIBLE",
                        "eveningStatus": "POSSIBLE",
                        "uncertain": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT — 조회 구간이 허용 윈도우(오늘~오늘+2년−1, 단 ONGOING 여행 희망 기간 종료일이 뒤면 그 날짜까지) 밖",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INVALID_INPUT",
                  "message": "입력값이 올바르지 않습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/members": {
      "get": {
        "tags": [
          "Trip Members"
        ],
        "summary": "참여자 목록",
        "description": "목적: 여행방 참여자 목록을 조회한다.\n\n호출 시점: 방 멤버 화면.\n\n전제: 멤버이며 방 입장 가능(ACTIVE + 입장 조건). SCHEDULE_PENDING면 403.\n\n결과: 상태·역할·Pin·모집률 등. 동명이인은 표시명에 `(2)`처럼 번호가 붙는다.\n",
        "operationId": "listMembers",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "memberCount": 6,
                    "activeMemberCount": 3,
                    "memberFillRate": 0.5,
                    "members": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "홍길동",
                        "role": "OWNER",
                        "memberStatus": "ACTIVE",
                        "pinned": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 · SCHEDULE_CONFIRM_REQUIRED — 이 방 일정 확인 미완료(SCHEDULE_PENDING) · SCHEDULE_ENTRY_REQUIRED — 입장 조건 미충족",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "SCHEDULE_CONFIRM_REQUIRED",
                  "message": "이 여행방 일정 확인을 완료해야 입장할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/members/schedule-calendar": {
      "get": {
        "tags": [
          "Trip Members"
        ],
        "summary": "멤버 effective 일정 달력",
        "description": "목적: 희망 기간(startRange~endRange) 동안 멤버 전원의 effective 일정을 조회한다.\n\n호출 시점: 방 안 일정 조율·추천 전 달력.\n\n전제: 멤버이며 방 입장 가능.\n\n결과: 멤버별 날짜 슬롯. 조율 중(ONGOING)은 실시간 일정, 확정·종료 방은 당시 스냅샷(읽기 전용).\n\n주요 에러: TRIP_ACCESS_DENIED / SCHEDULE_CONFIRM_REQUIRED\n",
        "operationId": "getScheduleCalendar",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "startDate": "2026-08-01",
                    "endDate": "2026-08-31",
                    "readOnly": false,
                    "members": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "홍길동",
                        "role": "OWNER",
                        "memberStatus": "ACTIVE",
                        "days": [
                          {
                            "date": "2026-08-03",
                            "morningStatus": "IMPOSSIBLE",
                            "afternoonStatus": "IMPOSSIBLE",
                            "eveningStatus": "POSSIBLE",
                            "uncertain": false
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 · SCHEDULE_CONFIRM_REQUIRED — 이 방 일정 확인 미완료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음·soft deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_FOUND",
                  "message": "여행방을 찾을 수 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "현재 사용자 조회",
        "description": "목적: 로그인 사용자 요약을 조회한다.\n\n호출 시점: 앱 진입·프로필/일정 변경 후 동기화.\n\n결과: UserSummary. hasPreSchedule은 일정 row 존재 여부(파생), isAllFree는 DB 컬럼.\n",
        "operationId": "me",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "user@example.com",
                    "firstName": "길동",
                    "lastName": "홍",
                    "nickname": "홍길동",
                    "profileImageUrl": "https://lh3.googleusercontent.com/a/example",
                    "provider": "GOOGLE",
                    "isGoogleCalendarConnected": false,
                    "hasPreSchedule": false,
                    "isAllFree": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "회원 탈퇴",
        "description": "목적: 본인 계정을 탈퇴한다.\n\n호출 시점: 마이페이지 탈퇴 확인.\n\n전제: 없음 — 진행 중인 방이 있어도 차단하지 않는다.\n\n결과: 참여 중인 방은 자동으로 나가기 처리되고, 소유한 방은 자동으로 삭제된다. 개인 일정·구글 캘린더 연동·리프레시 토큰은 즉시 제거되고, 계정은 soft delete되며 이메일·이름·닉네임·프로필 이미지가 제거된다. 204를 반환한다.\n\n주의: 소유한 방이 있으면 그 방은 다른 참여자에게도 더 이상 보이지 않는다. 액세스 토큰은 자연 만료 전까지 유효할 수 있다.\n",
        "operationId": "withdraw",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "탈퇴 성공(No Content)"
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trips/{tripId}/members/{userId}": {
      "delete": {
        "tags": [
          "Trip Members"
        ],
        "summary": "참여자 내보내기",
        "description": "목적: 방장이 참여자(MEMBER)를 내보낸다.\n\n호출 시점: 멤버 관리에서 내보내기 확인.\n\n전제: 방장. 여행방이 ONGOING. 대상은 방장이 아닌 멤버.\n\n결과: 대상 soft delete 후 갱신된 멤버 목록(200).\n\n주의: 추천 캐시는 건드리지 않는다.\n\n주요 에러: TRIP_FORBIDDEN · TRIP_NOT_ONGOING · CANNOT_REMOVE_OWNER · TRIP_MEMBER_NOT_FOUND\n",
        "operationId": "removeMember",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ownerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "내보내기 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "memberCount": 6,
                    "activeMemberCount": 2,
                    "memberFillRate": 0.33,
                    "members": [
                      {
                        "userId": "550e8400-e29b-41d4-a716-446655440000",
                        "displayName": "홍길동",
                        "role": "OWNER",
                        "memberStatus": "ACTIVE",
                        "pinned": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "CANNOT_REMOVE_OWNER — 방장은 내보낼 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "CANNOT_REMOVE_OWNER",
                  "message": "방장은 내보낼 수 없습니다."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_FORBIDDEN — 방장 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_FORBIDDEN",
                  "message": "여행방 방장만 수행할 수 있습니다."
                }
              }
            }
          },
          "404": {
            "description": "TRIP_NOT_FOUND — 여행방 없음 · TRIP_MEMBER_NOT_FOUND — 대상 참여자 없음·이미 내보냄",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_MEMBER_NOT_FOUND",
                  "message": "여행방 참여자를 찾을 수 없습니다."
                }
              }
            }
          },
          "409": {
            "description": "TRIP_NOT_ONGOING — 조율 중이 아닌 여행방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_NOT_ONGOING",
                  "message": "조율 중인 여행방만 수정·내보내기·일정 확인할 수 있습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/trips/{tripId}/members/me": {
      "delete": {
        "tags": [
          "Trip Members"
        ],
        "summary": "여행방 나가기",
        "description": "목적: 참여자(MEMBER)가 스스로 여행방에서 나간다.\n\n호출 시점: 마이페이지·방 안 메뉴에서 나가기 확인.\n\n전제: 호출자가 이 방의 활성 멤버(MEMBER)다. 방장은 사용할 수 없다.\n\n결과: 본인 참여 기록이 soft delete되고 204를 반환한다. 방 상태(ONGOING/CONFIRMED/EXPIRED)와 무관하게 항상 허용된다.\n\n주의: 같은 초대 코드로 다시 참여할 수 있다. 방장은 이 API 대신 여행방 삭제를 사용해야 한다.\n\n주요 에러: TRIP_ACCESS_DENIED — 비참여자 또는 이미 나감 · TRIP_OWNER_CANNOT_LEAVE — 방장\n",
        "operationId": "leaveTrip",
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "나가기 성공(No Content)"
          },
          "400": {
            "description": "TRIP_OWNER_CANNOT_LEAVE — 방장은 나갈 수 없음(방 삭제 사용)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_OWNER_CANNOT_LEAVE",
                  "message": "방장은 여행방을 나갈 수 없습니다. 여행방 삭제를 이용해주세요."
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰 없음·무효(AUTH_INVALID_TOKEN)·만료(AUTH_EXPIRED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_EXPIRED",
                  "message": "액세스 토큰이 만료되었습니다."
                }
              }
            }
          },
          "403": {
            "description": "TRIP_ACCESS_DENIED — 비참여자 또는 이미 나감",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "TRIP_ACCESS_DENIED",
                  "message": "여행방 참여 권한이 없습니다."
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateRegularScheduleRequest": {
        "type": "object",
        "description": "정기 일정 생성 요청. POST /users/schedule/regular. start/end 시각으로 슬롯 계산",
        "properties": {
          "title": {
            "type": "string",
            "description": "표시명 (출근·수업·회의 등)",
            "example": "출근",
            "minLength": 1
          },
          "daysOfWeek": {
            "type": [
              "string",
              "null"
            ],
            "description": "반복 요일. Weekday 콤마 구분(MON~SUN). 생략 시 null",
            "example": "MON,TUE,WED,THU,FRI"
          },
          "startTime": {
            "type": "string",
            "description": "시작 시각",
            "example": "09:00:00"
          },
          "endTime": {
            "type": "string",
            "description": "종료 시각",
            "example": "18:00:00"
          },
          "maxVacationDays": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "여행당 최대 연차 일수. 생략 시 2, 허용 0~10",
            "example": 2,
            "maximum": 10,
            "minimum": 0
          },
          "vacationApplyPeriod": {
            "type": [
              "string",
              "null"
            ],
            "description": "연차 신청 가능 시점. 생략 시 null",
            "enum": [
              "ANY",
              "ONE_WEEK_BEFORE",
              "TWO_WEEKS_BEFORE",
              "ONE_MONTH_BEFORE"
            ],
            "example": "ONE_WEEK_BEFORE"
          },
          "halfVacationAvailable": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "반차 사용 가능 여부. 생략 시 false",
            "example": false
          },
          "holidayRest": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "공휴일 휴무 여부. 생략 시 true",
            "example": true
          }
        },
        "required": [
          "endTime",
          "startTime",
          "title"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "description": "API 성공 응답 envelope",
        "properties": {
          "data": {
            "description": "응답 본문"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "에러 메시지 (성공 시 null)"
          },
          "code": {
            "type": [
              "string",
              "null"
            ],
            "description": "에러 코드 (성공 시 null)"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "API 에러 응답 envelope",
        "properties": {
          "code": {
            "type": "string",
            "description": "에러 코드",
            "example": "AUTH_INVALID_TOKEN"
          },
          "message": {
            "type": "string",
            "description": "사용자용 에러 메시지",
            "example": "유효하지 않은 토큰입니다."
          },
          "errors": {
            "type": [
              "array",
              "null"
            ],
            "description": "필드 검증 오류 목록 (validation 실패 시)",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            }
          }
        }
      },
      "FieldError": {
        "type": "object",
        "description": "요청 필드 검증 오류",
        "properties": {
          "field": {
            "type": "string",
            "description": "검증 실패 필드명",
            "example": "token"
          },
          "message": {
            "type": "string",
            "description": "검증 실패 메시지",
            "example": "must not be blank"
          }
        }
      },
      "ConnectGoogleCalendarRequest": {
        "type": "object",
        "description": "Google Calendar OAuth 연동 요청",
        "properties": {
          "authorizationCode": {
            "type": "string",
            "description": "Google OAuth authorization code (앱·웹이 Google 동의 후 수신)",
            "example": "4/0AeanS...",
            "minLength": 1
          }
        },
        "required": [
          "authorizationCode"
        ]
      },
      "CreateTripRequest": {
        "type": "object",
        "description": "여행방 생성 요청. POST /trips",
        "properties": {
          "name": {
            "type": "string",
            "description": "여행방 이름 (최대 15자)",
            "example": "제주 3박4일",
            "maxLength": 15,
            "minLength": 1
          },
          "startRange": {
            "type": "string",
            "format": "date",
            "description": "희망 여행 기간 시작일",
            "example": "2026-08-01"
          },
          "endRange": {
            "type": "string",
            "format": "date",
            "description": "희망 여행 기간 종료일",
            "example": "2026-08-10"
          },
          "durationNights": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "희망 여행 박수 (n박). durationDays와 둘 다 null=미정, 둘 다 값이면 nights+1 ≤ days ≤ nights+2. 0박(당일치기)도 동일 규칙 적용(days 1~2)",
            "example": 3
          },
          "durationDays": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "희망 여행 일수 (m일). null=미정. durationNights+1 ~ durationNights+2 범위만 허용",
            "example": 4
          },
          "memberCount": {
            "type": "integer",
            "format": "int32",
            "description": "모집 정원 (1~10)",
            "example": 6,
            "maximum": 10,
            "minimum": 1
          },
          "destination": {
            "type": [
              "string",
              "null"
            ],
            "description": "여행지. null=미정",
            "example": "제주"
          }
        },
        "required": [
          "endRange",
          "memberCount",
          "name",
          "startRange"
        ]
      },
      "JoinTripRequest": {
        "type": "object",
        "description": "초대 코드로 여행방 참여 요청. POST /trips/join",
        "properties": {
          "inviteCode": {
            "type": "string",
            "description": "6자 Crockford Base32 초대 코드",
            "example": "A2B3C4",
            "minLength": 1
          }
        },
        "required": [
          "inviteCode"
        ]
      },
      "RefreshRequest": {
        "type": "object",
        "description": "액세스 토큰 재발급 요청. POST /auth/refresh",
        "properties": {
          "refreshToken": {
            "type": "string",
            "description": "login 또는 이전 refresh 응답에서 받은 refresh token",
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "LogoutRequest": {
        "type": "object",
        "description": "로그아웃 요청. POST /auth/logout",
        "properties": {
          "refreshToken": {
            "type": "string",
            "description": "서버에서 폐기할 refresh token",
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "description": "소셜 로그인 요청. POST /auth/login",
        "properties": {
          "provider": {
            "type": "string",
            "description": "소셜 로그인 제공자",
            "enum": [
              "KAKAO",
              "GOOGLE",
              "APPLE"
            ],
            "example": "GOOGLE"
          },
          "token": {
            "type": "string",
            "description": "소셜 토큰. GOOGLE/APPLE: id_token, KAKAO: access_token",
            "example": "eyJhbG...",
            "minLength": 1
          }
        },
        "required": [
          "provider",
          "token"
        ]
      },
      "UpdateRegularScheduleRequest": {
        "type": "object",
        "description": "정기 일정 전체 수정 요청. PATCH /users/schedule/regular/{id}. start/end 변경 시 슬롯 재계산",
        "properties": {
          "title": {
            "type": "string",
            "description": "표시명 (출근·수업·회의 등)",
            "example": "출근",
            "minLength": 1
          },
          "daysOfWeek": {
            "type": [
              "string",
              "null"
            ],
            "description": "반복 요일. Weekday 콤마 구분(MON~SUN). 생략 시 null",
            "example": "MON,TUE,WED,THU,FRI"
          },
          "startTime": {
            "type": "string",
            "description": "시작 시각",
            "example": "09:00:00"
          },
          "endTime": {
            "type": "string",
            "description": "종료 시각",
            "example": "18:00:00"
          },
          "maxVacationDays": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "여행당 최대 연차 일수. 생략 시 2, 허용 0~10",
            "example": 2,
            "maximum": 10,
            "minimum": 0
          },
          "vacationApplyPeriod": {
            "type": [
              "string",
              "null"
            ],
            "description": "연차 신청 가능 시점. 생략 시 null",
            "enum": [
              "ANY",
              "ONE_WEEK_BEFORE",
              "TWO_WEEKS_BEFORE",
              "ONE_MONTH_BEFORE"
            ],
            "example": "ONE_WEEK_BEFORE"
          },
          "halfVacationAvailable": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "반차 사용 가능 여부. 생략 시 false",
            "example": false
          },
          "holidayRest": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "공휴일 휴무 여부. 생략 시 true",
            "example": true
          }
        },
        "required": [
          "endTime",
          "startTime",
          "title"
        ]
      },
      "PersonalScheduleItem": {
        "type": "object",
        "description": "특정 날짜의 슬롯 가능/불가 + 날짜 단위 불확실",
        "properties": {
          "scheduleDate": {
            "type": "string",
            "format": "date",
            "description": "날짜",
            "example": "2026-08-03"
          },
          "morningStatus": {
            "type": "string",
            "description": "오전 [00:00, 13:00) 슬롯",
            "enum": [
              "POSSIBLE",
              "IMPOSSIBLE"
            ],
            "example": "IMPOSSIBLE"
          },
          "afternoonStatus": {
            "type": "string",
            "description": "오후 [13:00, 18:00) 슬롯",
            "enum": [
              "POSSIBLE",
              "IMPOSSIBLE"
            ],
            "example": "POSSIBLE"
          },
          "eveningStatus": {
            "type": "string",
            "description": "저녁 [18:00, 24:00) 슬롯",
            "enum": [
              "POSSIBLE",
              "IMPOSSIBLE"
            ],
            "example": "POSSIBLE"
          },
          "uncertain": {
            "type": "boolean",
            "description": "해당 날짜 전체 불확실 여부",
            "example": false
          }
        },
        "required": [
          "afternoonStatus",
          "eveningStatus",
          "morningStatus",
          "scheduleDate"
        ]
      },
      "UpdatePersonalScheduleRequest": {
        "type": "object",
        "description": "개인 일정 bulk upsert + 삭제 요청. PATCH /users/schedule/personal",
        "properties": {
          "items": {
            "type": [
              "array",
              "null"
            ],
            "description": "날짜별 upsert 항목. 비어 있거나 생략 가능(deletedDates만으로 CLEAR)",
            "items": {
              "$ref": "#/components/schemas/PersonalScheduleItem"
            }
          },
          "deletedDates": {
            "type": [
              "array",
              "null"
            ],
            "description": "삭제할 날짜 목록. 해당 (user, date) row 삭제(해당 날 CLEAR). null/빈 배열 가능",
            "example": [
              "2026-08-04"
            ],
            "items": {
              "type": "string",
              "format": "date"
            }
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "description": "마이페이지 프로필(성·이름) 수정 요청. PATCH /users/profile",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "이름 (공백 불가)",
            "example": "길동",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "description": "성 (공백 불가)",
            "example": "홍",
            "minLength": 1
          }
        },
        "required": [
          "firstName",
          "lastName"
        ]
      },
      "OnboardingNameRequest": {
        "type": "object",
        "description": "온보딩 최초 성·이름 등록 요청. PATCH /users/onboarding/name",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "이름 (공백 불가)",
            "example": "길동",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "description": "성 (공백 불가)",
            "example": "홍",
            "minLength": 1
          }
        },
[...]
